.sticker {
	background: url("./openSAP-ui52.png") 50% 50% no-repeat;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 210px;

}

@media (max-width: 1440px) {
	.sticker {
		top: 160px;
	}
}

@media (max-width: 1130px) {
	.sticker {
		display: block;
		position: relative;
		top: 10px;
		margin: 0px auto;
	}
}

@media (max-width: 767px) {
	.sticker {
		width: 175px;
		height: 175px;
		top: 20px;
		background-size: 100%;
	}
}

@media (max-width: 530px) {
	.sticker {
		top: 7px;
	}
}