:root {
  --brand-color: #ffa42c;
  --brand-color-alt: #ff4700;
  --dark-brand-color: #191717;
  --sapBackgroundContrastColor: #f5f6f7;
  --sapTextColor: #f5f6f7;
}

@media (prefers-reduced-motion: reduce) {
  *:not(svg, path) {
    animation: none !important;
    transition: none !important;
    transform: none !important;
  }
}

@font-face {
  font-family: "72";
  src: url("fonts/72-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "72";
  src: url("fonts/72-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "72";
  src: url("fonts/72-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
 html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}
/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 1 */
  overflow: visible; /* 3 */
}
/**
 * Add the correct display in IE.
 */
main {
  display: block;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/* Embedded content
 * ========================================================================== */
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
  vertical-align: middle;
}
/* Tabular data
 * ========================================================================== */
/**
 * 1. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
table {
  border-color: inherit; /* 1 */
  text-indent: 0; /* 2 */
}
/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}
/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}
/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}
/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}
/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}
/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
}
/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}
/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}
/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* User interaction
 * ========================================================================== */
p {
  margin-bottom: 1rem;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "72", Arial, Helvetica, sans-serif;
  background-color: var(--dark-brand-color);
  color: var(--sapTextColor);
  margin: 0;
}

h1, h2, h3, h4 {
  color: var(--sapTextColor);
  font-weight: 700;
}

@media only screen and (orientation: landscape), (orientation: portrait) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
 * ====================================  Header ====================================
 */

.ui5con-header {
  width: 100%;
  position: relative;
  padding-bottom: 4rem;
  color: var(--sapTextColor);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .ui5con-header {
    min-height: 100vh;
  }
}

.ui5con-header__container {
  padding: 2rem 2rem 12rem;
}

.ui5con-header__container h1 {
  margin: 0;
  line-height: 1;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  color: var(--sapTextColor);
}

.ui5con-header__logo {
  max-width: 8rem;
  vertical-align: baseline;
}

.onair {
  fill: var(--sapTextColor);
}

.ui5con-header__year {
  z-index: 5;
  display: block;
  margin-top: 6rem;
  position: relative;
  margin-bottom: 2rem;
  color: #fff;
}

.ui5con-header__date, time {
  height: auto;
  display: block;
  letter-spacing: .2rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.125rem var(--brand-color);
  color: rgba(255,255,255,0);
  animation: color-gradient 3s linear infinite forwards alternate;
}

time {
  -webkit-text-stroke: 0;
  margin-bottom: 4rem;
  background: linear-gradient(130deg, var(--brand-color-alt), var(--brand-color), var(--sapTextColor), var(--brand-color), var(--brand-color-alt));
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite alternate;
}

@keyframes textclip {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}

.ui5con__banner-1 {
  top: -15%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.ui5con__banner-2 {
  left: 50%;
  bottom: -50%;
  position: absolute;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .ui5con-header__container {
    padding: 10vh;
  }

  .ui5con-header__container h1 {
    font-size: 10vh;
    text-align: left;
  }

  .ui5con-header__year {
    margin-top: 2vh;
    margin-bottom: 1vh;
  }

  .ui5con-header__logo {
    max-width: 15vh;
  }

  .ui5con__banner-1 {
    top: -1vh;
    left: 65vw;
    transform: translateX(-50%) scale(1.2);
  }

  .ui5con__banner-2 {
    position: absolute;
    bottom: -15vh;
    left: 80vw;
  }
}

@media screen and (min-width: 1440px) {
  .ui5con-header__container h1 {
    font-size: 14vh;
  }
}

@keyframes color-gradient {
  0% {
    -webkit-text-stroke: 0.125rem var(--brand-color);
  }
  100% {
    -webkit-text-stroke: 0.125rem var(--brand-color-alt);
  }
}

.ui5con-header__announcement {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 25rem;
  align-items: center;
  border: 0.0625rem solid var(--brand-color);
}

.ui5con-header__announcement-left {
  flex: 1 0 auto;
  border-bottom: 0.0625rem solid var(--brand-color);
}

.ui5con-header__announcement-left p {
  margin: 0;
  font-size: 1rem;
  line-height: 2.3;
  padding: 0 1.5rem;
  position: relative;
  border-right: none;
}

.ui5con-header__announcement-left p:before {
  top: 0;
  bottom: 0;
  content: "";
  left: 0.625rem;
  width: 0.0625rem;
  position: absolute;
  background-color: var(--brand-color);
}

.ui5con-header__announcement-left p:first-child {
  border-bottom: 0.0625rem solid var(--brand-color);
}

.ui5con-header__announcement-right {
  margin: auto;
  flex: 1 0 100%;
  line-height: 2;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  background-image: url(images/stripes-triangle.svg);
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .ui5con-header__announcement {
    margin: unset;
  }

  .ui5con-header__announcement-left {
    flex: 0 0 auto;
    border-bottom: none;
  }

  .ui5con-header__announcement-left p {
    border-right: 0.0625rem solid var(--brand-color);
    font-size: 1.3rem;
  }

  .ui5con-header__announcement-right {
    font-size: 2.5rem;
    flex: 1 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .ui5con-header__announcement {
    max-width: 30rem;
  }
}

/*
 * ====================================  Details Section ====================================
 */

.ui5con-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  background: var(--sapBackgroundContrastColor);
}

.ui5con-container--details {
  margin: auto;
  display: grid;
  grid-gap: 2rem;
  padding: 3rem 10%;
  position: relative;
  grid-template-columns: 1fr;
  background-image: linear-gradient(208deg, var(--brand-color), var(--brand-color-alt));
}

.ui5con-detail {
  text-align: center;
  color: var(--sapTextColor);
  z-index: 1;
  line-height: 1.4;
}

.ui5con-detail__icon {
  width: 3rem;
  fill: var(--sapTextColor);
}

@media screen and (min-width: 768px) {
  .ui5con-container--details {
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1400px) {
  .ui5con-container--details {
    padding: 5rem 20%;
  }
}

/*
 * ====================================  Carousel Section ====================================
 */
.ui5con-container--carousel {
  width: 100vw;
  height: 400px;
  position: relative;
  background-size: cover;
  background-repeat: repeat-x;
  animation: slide 150s linear infinite;
  background-image: url("images/past_events.jpg");
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/*
 * ====================================  Links Section ====================================
 */

.ui5con-container--links {
  position: relative;
  gap: 10vw;
  padding: 5rem 0;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(30deg, var(--brand-color), var(--brand-color-alt));
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .ui5con-container--links {
    padding: 3rem 0;
  }
}

.ui5con__link {
  display: flex;
  padding: 0 0.5rem;
  text-align: center;
  align-items: center;
  animation: 10s linear;
  text-decoration: none;
  flex-direction: column;
  outline-offset: 1.25rem;
  transition: all 0.5s ease-in-out;
  outline: 0.25rem solid transparent;
  color: var(--sapTextColor);
}

.ui5con__link:hover svg {
  transform: rotateY(180deg);
}

.ui5con__link:focus {
  outline-offset: 0.25rem;
  outline-color: var(--dark-brand-color);
}

.ui5con__link:not(:focus) {
  transition-duration: 0s;
}

.ui5con__link svg {
  width: 2rem;
  height: 2rem;
  transition: .5s;
  margin-bottom: 0.75rem;
  fill: var(--sapTextColor);
}

@media (prefers-reduced-motion: reduce) {
  .ui5con__link:hover svg {
    transform: none;
  }
}

.ui5con__banner-3 {
  display: none;
  position: absolute;
  top: 0;
  right: -28rem;
  max-width: 600px;
  transform: translateY(-50%);
  z-index: 0;
}

.ui5con__banner-3 path {
  fill: var(--brand-color);
}

@media screen and (min-width: 800px) {
  .ui5con__banner-3 {
    display: block;
  }
}

/*
 * ====================================  Footer ====================================
 */

.ui5con-container--footer {
  align-items: center;
  padding: 1.875rem 5%;
  justify-content: space-between;
  color: var(--sapTextColor);
  background-color: var(--dark-brand-color);
}

@media screen and (max-width: 800px) {
  .ui5con-container--footer {
    gap: 1rem;
    padding: 2rem 1rem;
    flex-direction: column;
  }
}

.ui5con-container--footer .ui5con-sap-logo {
  width: 4rem;
  fill: #008fd3;
  max-width: 6.25rem;
}

.ui5con-sap-brand {
  font-weight: bold;
}

.ui5con-sap-links {
  display: flex;
  gap: 1.5rem;
}

.ui5con-sap-links a:link {
  text-decoration: none;
  outline-offset: 1.25rem;
  transition: all 0.5s ease-in-out;
  color: var(--sapTextColor);
  outline: 0.25rem solid transparent;
}

.ui5con-sap-links a:focus {
  outline-offset: 0.25rem;
  outline-color: var(--brand-color-alt);
}

.ui5con-sap-links a:not(:focus) {
  transition-duration: 0s;
}

.ui5con-sap-links a:visited {
  color: var(--sapTextColor);
}

.ui5con-sap-links a:hover {
  color: var(--brand-color-alt);
}

.ui5con-sap-links span {
  margin-left: 1.875rem;
}
