.Button {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    padding: 0 20px;
    background-color: #1873b4;
    transition: background-color 0.1s ease-out,
                color 0.1s ease-out;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    }
    .Button:hover {
        background-color: #49abd6;
        }
    .Button:active {
        background-color: #095a95;
        }
    .Button > * {
        display: inline-block;
        vertical-align: middle;
        }

.Button.size_2 {
    line-height: 48px;
    font-size: 16px;
    }
.Button.size_1 {
    line-height: 60px;
    font-size: 20px;
    }
    .Button.size_1 > * {
        line-height: 1em;
        }

.Button.color_transparent {
    color: #1873b4;
    border: 2px solid #1873b4;
    background-color: transparent;
    }
    .Button.color_transparent:hover {
        color: #fff;
        background-color: #1873b4;
        }
.Button.mod_download {
    margin-bottom: 7px;
    }
    .Button.mod_download:not(:last-child) {
        margin-right: 20px;
        }
    .Button.mod_download:hover .Button__icon g {
        fill: #fff;
        }
    .Button.mod_download:hover .Button__version {
        color: rgba(255, 255, 255, 0.5);
        }

@media (max-width: 568px) {
    .Button.mod_download {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        margin-bottom: 0;
        }
    .Button.mod_download:not(:last-child) {
        margin-right: 0;
        }
}
