.ui5con-speakers-section {
  gap: 4rem;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 5rem 1.25rem 3.75rem 1.25rem;
}

.ui5con-speakers-heading {
  margin: 0;
  font-size: 2.5rem;
  line-height: 2.875rem;
  font-weight: 700;
  text-align: center;
  color: var(--ui5TextColor);
}

.ui5con-speakers-heading span {
  display: inline-block;
  -webkit-text-stroke: 0;
  background: linear-gradient(
    258.68deg,
    var(--ui5TextColor) -1.05%,
    var(--ui5BrandColor) 55.25%,
    var(--ui5BrandAltColor) 107.04%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite alternate;
}

@media only screen and (min-width: 768px) {
  .ui5con-speakers-section {
    padding: 7.5rem 4rem 3.75rem 4rem;
  }

  .ui5con-speakers-heading {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .ui5con-speakers-section {
    gap: 6rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 8rem 6rem 4rem;
  }

  .ui5con-speakers-heading {
    font-size: 5rem;
    line-height: 5.75rem;
    text-align: left;
  }
}