.Text {
    --ratio: 1;
    --font-size: 1em;
    font-size: calc(var(--font-size) * var(--ratio));
    line-height: 1.2em;

    @media (max-width: env(--screen-breakpoint-767)) {
        --ratio: 0.75;
    }

    &.size_1 {
        --font-size: 44px;
    }
    &.size_2 {
        --font-size: 32px;
    }
    &.size_5 {
        --font-size: 24px;
    }
    &.size_3 {
        --font-size: 20px;
        @media (max-width: env(--screen-breakpoint-767)) {
            --ratio: 1;
        }
    }
    &.font_regular {}
    &.font_light {
        font-family: "72-Light", Arial;
    }
    &.weight_bold {
        font-weight: bold;
    }
}
