.GitHub {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-image: url("./images/github.svg");
    opacity: 0.5;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
        opacity: 1;
    }
}