.List {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: env(--screen-breakpoint-980)) {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    & .ListItem {
    }

    &.justifyContent_spaceBetween {
        justify-content: space-between;
    }
}

/* 1 columns */
.List.column_1 {
    flex-direction: column;

    & .ListItem {
        margin-bottom: 25px;
    }
}

/* 2 columns */
.List.column_2 {
    margin-bottom: calc(-1 * var(--default-margin-half));

    & .ListItem {
        flex-basis: 45%;
        margin-bottom: var(--default-margin-half);

        @media (max-width: env(--screen-breakpoint-568)) {
            flex-basis: 100%;
        }
    }
}

/* 3 columns */
.List.column_3 {
    margin-bottom: calc(-1 * var(--default-margin-half));

    & .ListItem {
        flex-basis: 32%;
        margin-bottom: var(--default-margin-half);

        @media (max-width: env(--screen-breakpoint-980)) {
            flex-basis: 45%;
        }

        @media (max-width: env(--screen-breakpoint-568)) {
            flex-basis: 100%;
        }
    }
}

    /*.List.mod_officialprojects {*/
        /*}*/
    /*.List.mod_communityprojects {*/
        /*flex-wrap: wrap;*/
        /*}*/
    /*.List.mod_officialprojects {*/
        /*}*/
        /*.List.mod_officialprojects .ListItem {*/
            /*margin-bottom: 40px;*/
            /*}*/
    /*.List.mod_communityprojects {*/
        /*margin-bottom: -40px;*/
        /*}*/
        /*.List.mod_communityprojects .ListItem {*/
            /*margin-bottom: 40px;*/
            /*}*/
    /*.List.mod_documentation {*/
        /*margin-bottom: -40px;*/
        /*}*/
        /*.List.mod_documentation .ListItem{*/
            /*margin-bottom: 40px;*/
            /*}*/
    /*.List.mod_ui5icon {*/
        /*justify-content: space-around;*/
    /*}*/
    /*.List.mod_community {*/
        /*flex-wrap: wrap;*/
        /*justify-content: flex-start;*/
        /*}*/
        /*.List.mod_community .ListItem{*/
            /*flex-basis: 170px;*/
            /*margin-bottom: 40px;*/
            /*margin-right: 40px;*/
            /*}*/
        /*.List.mod_community:last-child {*/
            /*margin-bottom: -40px;*/
            /*}*/
    /*.List.mod_events {*/
        /*display: block;*/
        /*}*/
        /*.List.mod_events .ListItem:not(:last-child) {*/
            /*margin-bottom: 30px;*/
            /*}*/
    /*.List.mod_engage {*/
        /*margin-bottom: -40px;*/
        /*}*/
        /*.List.mod_engage .ListItem {*/
            /*margin-bottom: 40px;*/
            /*}*/

    /*.List.mod_ui5icon {*/
        /*justify-content: space-around;*/
        /*padding-bottom: 20px;*/
        /*}*/

/* type_vertical */
/*.List.type_vertical {*/
    /*flex-direction: column;*/
    /*}*/
    /*.List.type_vertical .ListItem {*/
        /*flex-basis: auto;*/
        /*position: relative;*/
        /*margin-bottom: 25px;*/
        /*}*/

/*html.noscroll .List > .ListItem {*/
    /*!* force items to hide behind the opened menu*/
       /*TODO: fix svg icons z-index *!*/
    /*z-index: -1;*/
    /*}*/

/*
@media (max-width: 980px) {
    .List {
    	flex-wrap: wrap;
    	justify-content: space-around;
    	}
        .ListItem {
        	flex-basis: 45%;
        	}
        /*.List.mod_officialprojects,*/
        /*.List.mod_engage,*/
        /*.List.mod_documentation {*/
            /*justify-content: space-between;*/
            /*}*/
/*}*/

/*
@media (max-width: 568px) {
    .ListItem {
    	flex-basis: 100%;
    	}*/
    /*.List.mod_officialprojects .ListItem {*/
        /*margin-bottom: 20px;*/
        /*}*/
    /*.List.mod_engage {*/
        /*margin-bottom: -20px;*/
        /*}*/
        /*.List.mod_engage .ListItem {*/
            /*margin-bottom: 20px;*/
            /*}*/
    /*.List.mod_communityprojects .ListItem:not(:last-child) {*/
        /*margin-bottom: 20px;*/
        /*}*/
    /*.List.mod_documentation .ListItem:not(:last-child) {*/
        /*margin-bottom: 20px;*/
        /*}*/
    /*.List.mod_community {*/
        /*}*/
        /*.List.mod_community .ListItem {*/
            /*flex-basis: 100%;*/
            /*}*/
            /*.List.mod_community .ListItem {*/
                /*margin-bottom: 20px;*/
                /*}*/
        /*.List.mod_community:last-child {*/
            /*margin-bottom: -20px;*/
            /*}*/
    /*.List.mod_events .ListItem:not(:last-child) {*/
        /*margin-bottom: 15px;*/
        /*}*/
/*}*/