.list {
	display: flex;
	justify-content: space-between;
	}
	.list__item {
		flex-basis: 30%;
		}
	.list.mod_officialprojects {
		}
	.list.mod_communityprojects {
		flex-wrap: wrap;
		}
	.list.mod_officialprojects {
		}
		.list.mod_officialprojects .list__item {
			margin-bottom: 40px;
			}
	.list.mod_communityprojects {
		margin-bottom: -40px;
		}
		.list.mod_communityprojects .list__item {
			margin-bottom: 40px;
			}
	.list.mod_documentation {
		margin-bottom: -40px;
		}
		.list.mod_documentation .list__item{
			margin-bottom: 40px;
			}
	.list.mod_ui5icon {
		justify-content: space-around;
	}
	.list.mod_community {
		flex-wrap: wrap;
		justify-content: flex-start;
		}
		.list.mod_community .list__item{
			flex-basis: 170px;
			margin-bottom: 40px;
			margin-right: 40px;
			}
		.list.mod_community:last-child {
			margin-bottom: -40px;
			}
	.list.mod_events {
		display: block;
		}
		.list.mod_events .list__item:not(:last-child) {
			margin-bottom: 30px;
			}
	.list.mod_engage {
		margin-bottom: -40px;
		}
		.list.mod_engage .list__item {
			margin-bottom: 40px;
			}

	.list.mod_ui5icon {
		justify-content: space-around;
		padding-bottom: 20px;
		}

/* type_vertical */
.list.type_vertical {
	flex-direction: column;
	}
	.list.type_vertical .list__item {
		flex-basis: auto;
		position: relative;
		margin-bottom: 25px;
		}

html.noscroll .list > .list__item {
	/* force items to hide behind the opened menu
	   TODO: fix svg icons z-index */
	z-index: -1;
	}

@media (max-width: 980px) {
	.list {
		flex-wrap: wrap;
		justify-content: space-around;
		}
		.list__item {
			flex-basis: 45%;
			}
		.list.mod_features .list__item:not(:last-child) {
			margin-bottom: 40px;
			}
		.list.mod_officialprojects,
		.list.mod_engage,
		.list.mod_documentation {
			justify-content: space-between;
			}
}

@media (max-width: 568px) {
	.list__item {
		flex-basis: 100%;
		}
	.list.mod_officialprojects .list__item {
		margin-bottom: 20px;
		}
	.list.mod_engage {
		margin-bottom: -20px;
		}
		.list.mod_engage .list__item {
			margin-bottom: 20px;
			}
	.list.mod_communityprojects .list__item:not(:last-child) {
		margin-bottom: 20px;
		}
	.list.mod_documentation .list__item:not(:last-child) {
		margin-bottom: 20px;
		}
	.list.mod_community {
		}
		.list.mod_community .list__item {
			flex-basis: 100%;
			}
			.list.mod_community .list__item {
				margin-bottom: 20px;
				}
		.list.mod_community:last-child {
			margin-bottom: -20px;
			}
	.list.mod_events .list__item:not(:last-child) {
		margin-bottom: 15px;
		}
}