.documentation {
	display: flex;
	justify-content: space-between;
	}
	.documentation__col1 {
		flex-basis: 60%;
		margin-right: 40px;
	}
	.documentation__col2 {
		height: 240px;
		min-width: 240px;
		flex-basis: 30%;
		background: transparent url("./icon.svg") no-repeat 0 0;
	}
	.documentation__title {
		font: 32px/44px "72-Light";
		margin-bottom: 20px;
		}
	.documentation__text {
		font: 20px/32px "72-Light";
		margin-bottom: 40px;
		}

@media (max-width: 767px) {
	.documentation__col1 {
		flex-basis: 100%;
		margin-right: 0;
		}
	.documentation__col2 {
		display: none;
		}
}
