.Documentation {
    display: flex;
    justify-content: space-between;
    }
    .Documentation__col1 {
        flex-basis: 60%;
        margin-right: 40px;
    }
    .Documentation__col2 {
        height: 240px;
        min-width: 240px;
        flex-basis: 30%;
        background: transparent url("./icon.svg") no-repeat 0 0;
    }
    .Documentation__title {
        font: 32px/44px "72-Light";
        margin-bottom: 20px;
        }
    .Documentation__text {
        font: 20px/32px "72-Light";
        margin-bottom: 40px;
        }

@media (max-width: 767px) {
    .Documentation__col1 {
        flex-basis: 100%;
        margin-right: 0;
        }
    .Documentation__col2 {
        display: none;
        }
}
