[v-cloak] { display: none; }

.ui5con-agenda-modal-backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  position: fixed;
  transition: all 0.3s;
  backdrop-filter: blur(5px);
  background-color: rgba(25, 23, 23, 0.8);
 
}

.ui5con-agenda-modal-open {
  /* overflow-y: hidden; */
  height: 100vh;
}


.ui5con-agenda-modal {
  top: 50%;
  left: 50%;
  width: 75vw;
  padding: 3rem;
  max-height: 90vh;
  overflow-y: scroll;
  max-width: 1100px;
  position: absolute;
  scrollbar-width: none;
  border-radius: 1.25rem;
  -ms-overflow-style: none;
  transform: translate(-50%, -50%);
  background: var(--dark-brand-color);
  border: 0.0625rem solid var(--brand-color);
  box-shadow: 0.125rem 0.1875rem 0.375rem 0 #000000;
}

.ui5con-agenda-modal::-webkit-scrollbar {
  display: none;
}

.ui5con-agenda-modal__container {
  gap: 2rem;
  display: flex;
  margin-bottom: 2rem;
}

.ui5con-agenda-modal__container:last-child {
  margin-bottom: 0;
}

.ui5con-agenda-modal button {
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  background: none;
  font-size: 1.2rem;
  position: absolute;
  font-weight: normal;
  border-radius: 0.25rem;
  transition: all .3s ease;
  color: var(--brand-color);
  border: 0.0625rem solid transparent;
}

.ui5con-agenda-modal button:hover {
  font-weight: bold;
  color: var(--textColor);
}

.ui5con-agenda-modal button:focus {
  outline: none;
  border: 0.0625rem solid var(--brand-color);
}

.ui5con-agenda-modal figure {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: fit-content;
}

.ui5con-agenda-modal article {
  width: 100%;
}

.ui5con-agenda-modal img {
  border-radius: 0.5rem;
  max-width: 8rem;
  min-width: 8rem;
  max-height: 8rem;
  min-height: 8rem;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.ui5con-agenda-modal header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ui5con-agenda-modal__speaker-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  margin-top: 0.25rem;
}

.ui5con-agenda-modal__speaker-links a {
  outline-offset: 0.75rem;
  color: var(--sapLinkColor);
  transition: all 0.5s ease-in-out;
  outline: 0.25rem solid transparent;
}

.ui5con-agenda-modal__speaker-links a:focus {
  outline-offset: 0.2rem;
  outline-color: var(--sapLinkColor);
}

.ui5con-agenda-modal__speaker-links a:hover svg {
  color: var(--sapTextColor);
}

.ui5con-agenda-modal__speaker-links a svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: all .25s ease-in-out;
}

.ui5con-agenda-modal__speaker-name {
  font-size: 1.75rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.ui5con-agenda-modal__speaker-company {
  font-size: 1.25rem;
  color: var(--sapLinkColor);
  margin: 0;
}

.ui5con-agenda-modal__speaker-bio {
  margin: 0;
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  .ui5con-agenda-modal {
    width: 94vw;
    padding: 2rem;
  }

  .ui5con-agenda-modal__container {
    align-items: center;
    flex-direction: column;
  }

  .ui5con-agenda-modal__speaker-name {
    font-size: 1.25rem;
  }

  .ui5con-agenda-modal header {
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .ui5con-agenda-modal__speaker-links {
    padding: 0;
    margin-top: 1rem;
    justify-content: center;
  }

  .ui5con-agenda-modal__container {
    margin-bottom: 4rem;
  }
}