.ui5con-container__countdown {
  display: flex;
  flex-wrap: wrap;
}

.ui5con-container__countdown-header {
  margin: 0;
  width: 100%;
  font-weight: 800;
  font-size: clamp(1rem, 3vw, 3rem); 
  margin-bottom: clamp(1rem, 0.75vw, 2rem);
}

.ui5con-container__countdown-header span {
  color: var(--brand-color);
}

.ui5con-container__countdown-block {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.ui5con-container__countdown-block:not(:first-child) .ui5con-container__countdown-digit::before {
  content: ':';
}

.ui5con-container__countdown-digit {
  margin: 0;
  line-height: 1;
  font-weight: 800;
  color: var(--brand-color-alt);
  color: rgba(255,255,255,0);
  font-size: clamp(2rem, 11vw, 15rem); 
  font-feature-settings: 'pnum' on, 'lnum' on;
  -webkit-text-stroke: 0.0625rem var(--brand-color-alt);
}

.ui5con-container__countdown-digit.bold {
  color: var(--brand-color-alt);
  font-feature-settings: normal;
  -webkit-text-stroke: none;
}


.ui5con-container__countdown-text {
  margin: 0;
  color: var(--brand-color);
  font-size: clamp(1rem, 3vw, 3rem); 
}

