<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="../build/launchpad/data/pictures/favicon.ico"/>
	<title>UI5con Events</title>
	<meta name="description" content="Learn about past and upcoming events around OpenUI5 and SAPUI5">
	<meta name="keywords" content="webstandards, web standards, html, css, JavaScript, Accessibility, Barrierefreiheit, WCAG, OpenUI5, DevOps, SAPUI5, UI5con, UI5 Web Components, Web Components, Webcomponents, Open Source">
	<meta name="robots" content="index, follow">
	<meta name="author" content="SAP SE">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="launchpad/common.css">
	<link rel="stylesheet" href="launchpad/styles.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>
	<header>
		<div class="ui5con-header-container">
			<div class="ui5con-logo-container">
				<img class="ui5con-logo" src="launchpad/data/pictures/UI5con.png" alt="ui5con logo">
			</div>
		</div>
		
		<div class="ui5con-header-container">
			<div class="ui5con-heading-container">
				<h1 class="ui5con-heading">Community Conferences <br> around OpenUI5 / SAPUI5</h1>
			</div>
		</div>
	</header>
	<main id="main">
		<ul class="ui5con-event-list" aria-label="Upcoming and past UI5con events">
			<!-- UPCOMING EVENT -->
			<li class="ui5con-events-upcoming" aria-hidden="true">
				Upcoming
			</li>
			<li v-for="event in upcomingEvents" class="ui5con-event upcoming" :aria-label="'Upcoming event ' + event.name">
				<div class="ui5con-event-content">
					<img class="ui5con-event-logo" :src="event.logo" :alt="'Logo of ' + event.name">
					<div class="ui5con-event-detail">
						<span class="ui5con-event-label">where</span>
						<span class="ui5con-event-text">{{event.where}}</span>
					</div>
					<div class="ui5con-event-detail">
						<span class="ui5con-event-label">when</span>
						<span class="ui5con-event-text">{{event.when}}</span>
					</div>
				</div>
				
				<a class="ui5con-event-link" :href="event.link" rel="nofollow" target="_blank" :title="'Click to open ' + event.name + ' page. Opens in a new window'">
					<div>
						<span>Take me there</span>
						<svg width="80" height="80" viewBox="0 0 174 174" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M111.792 100.722C112.681 100.722 113.451 100.366 114.014 99.8031C114.577 99.2401 114.933 98.4697 114.933 97.5808L114.933 61.6093C114.933 59.8907 113.51 58.4685 111.792 58.4685L75.8204 58.4685C74.1018 58.4685 72.6796 59.8908 72.6796 61.6094C72.6796 63.3279 74.1018 64.7502 75.8204 64.7502L104.207 64.7502L59.2008 109.756C57.986 110.971 57.986 112.986 59.2008 114.201C60.4157 115.416 62.4305 115.416 63.6454 114.201L108.651 69.1952L108.651 97.5808C108.651 99.2994 110.073 100.722 111.792 100.722Z" fill="currentColor"/>
						</svg>
					</div>
				</a>
			</li>
			<!-- PAST EVENTs -->
			<li class="ui5con-events-past" aria-hidden="true">Past</li>
			<li v-for="event in pastEvents" class="ui5con-event" :aria-label="'Past event ' + event.name">
				<div class="ui5con-event-content">
					<img class="ui5con-event-logo" :src="event.logo" :alt="'Logo of ' + event.name">
					<div class="ui5con-event-detail">
						<span class="ui5con-event-label">where</span>
						<span class="ui5con-event-text">{{event.where}}</span>
					</div>
					<div class="ui5con-event-detail">
						<span class="ui5con-event-label">when</span>
						<span class="ui5con-event-text">{{event.when}}</span>
					</div>
				</div>
				
				<a class="ui5con-event-link" :href="event.link" rel="nofollow" target="_blank" :title="'Click to open ' + event.name + ' page. Opens in a new window'">
					<div>
						<svg width="80" height="80" viewBox="0 0 174 174" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M111.792 100.722C112.681 100.722 113.451 100.366 114.014 99.8031C114.577 99.2401 114.933 98.4697 114.933 97.5808L114.933 61.6093C114.933 59.8907 113.51 58.4685 111.792 58.4685L75.8204 58.4685C74.1018 58.4685 72.6796 59.8908 72.6796 61.6094C72.6796 63.3279 74.1018 64.7502 75.8204 64.7502L104.207 64.7502L59.2008 109.756C57.986 110.971 57.986 112.986 59.2008 114.201C60.4157 115.416 62.4305 115.416 63.6454 114.201L108.651 69.1952L108.651 97.5808C108.651 99.2994 110.073 100.722 111.792 100.722Z" fill="currentColor"/>
						</svg>
					</div>
				</a>
			</li>
		</ul>
	</main>
	<footer class="ui5con-footer">
		<div class="ui5con-footer-container">
			<div class="ui5con-footer-text">&copy; SAP SE, made available under Apache License 2.0</div>
			<a class="ui5con-footer-link" href="https://www.sap.com/about/legal/impressum.html" target="_blank" rel="noopener noreferrer" hreflang="en" title="Click to open the Legal Disclosure page. Opens in a new window.">Legal Disclosure/Impressum</a>
			<a class="ui5con-footer-link" href="http://global.sap.com/corporate-en/legal/privacy.epx" target="_blank" rel="noopener noreferrer" hreflang="en" title="Click to open the Privacy page. Opens in a new window.">Privacy</a>
			<a class="ui5con-footer-link" href="http://www.sap.com/germany/about/legal/privacy.html" target="_blank" rel="noopener noreferrer" hreflang="de" title="Click to open the Datenschutz page. Opens in a new window.">Datenschutz</a>
		</div>
	</footer>

	<script src="launchpad/main.js"></script>
</body>
</html>
