.Button {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    padding: 9px 12px 7px;

    transition: background-color 0.1s ease-out,
                color 0.1s ease-out;
    border-radius: 8px;
    text-align: center;

    &.color_transparent {
        color: #1366a2;
        &:hover {
            background-color: #e7f2fb;
        }
    
        &:active {
            background-color: #cfe6f6;
        }
    }

    &.color_orange {
        background-color: #ff6301;
        color: #fff;

        &:hover {
            background-color: #ff8e47;
        }

        &:active {
            background-color: #e65b04;
        }
    }

    &.color_blue {
        background-color: #f6fafd;
        color: #1366a2;

        &:hover {
            background-color: #e7f2fb;
        }

        &:active {
            background-color: #cfe6f6;
        }
    }

    &.color_darkBlue {
        background-color: #1366a2;
        color: #fff;

        &:hover {
            background-color: #49abd6;
        }

        &:active {
            background-color: #0f598e;
        }
    }
}

.Icon {
    display: inline-block;
    --sapContent_NonInteractiveIconColor: #fff;
    margin-right: 5px;
    top: 2px;
    position: relative;
  }