.people-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
	justify-content: center;
	gap: 1rem;
}

.people-list > li:is(:hover, :focus-within) .people-portrait {
	transform: scale(1.07);
}

.people-member {
	margin: 0;
	position: relative;
}

.people-member img {
	max-width: 100%;
	inline-size: 100%;
	aspect-ratio: 1/1.25;
	object-fit: cover;
	display: block;
	margin-block-end: .5rem;
}

.people-member figcaption {
	position: relative;
}

.people-member .placeholder {
	max-width: 100%;
	inline-size: 100%;
	aspect-ratio: 1/1.25;
	background: transparent url(../../images/committee/placeholder.svg) no-repeat 50% 50%;
	background-size: 60%;
}

@media (prefers-color-scheme: dark) {
	.people-member .placeholder {
		filter: invert(.8);
	}
}

.people-name {
	font-weight: 600;
	margin-block-start: .3rem;
	margin-block-end: 0;
}

@media only screen and (min-width: 768px) {

	.people-list {
		grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	}
}

.people-topic {
	opacity: 0;
	display: none;
	position: absolute;
	bottom: calc(100% + .5rem);
	right: 0;
	left: 0;
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
	font-style: italic;
	padding: .7rem .5rem;
	margin: 0;
	z-index: 1;
	transition: all .3s allow-discrete;
	text-shadow: 0 0 1px black;

	@starting-style {
		opacity: 0;
		display: none;
	}
}

.people-topic::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	backdrop-filter: blur(10px) brightness(80%);
	mask: linear-gradient(to top, rgba(231, 101, 0, 1) 60%, rgba(255, 255, 255, 0));
	z-index: -1;
}

.people-member:is(:hover, :focus) {
	outline: none;

	img {
		filter: grayscale(50%);
	}

	.people-topic {
		opacity: 1;
		display: block;
	}
}