.logo {
	display: inline-block;
	width: 194px;
	height: 60px;
	background-image: url("./logo.svg");
	}

@media (max-width: 980px) {
	.logo {
		width: 146px;
		height: 45px;
	}
}

@media (max-width: 767px) {
	.logo {
		width: 100px;
		height: 31px;
		}
}