@font-face {
    font-family: '72-Regular';
    src: url('./72-Regular.woff2') format('woff2'),
         url('./72-Regular.woff') format('woff');
}

@font-face {
    font-family: '72-Light';
    src: url('./72-Light.woff2') format('woff2'),
         url('./72-Light.woff') format('woff');
}


/* SAP fonts */
@font-face {
    font-family: "72";
    font-style: normal;
    font-weight: 100;
    src: url("./72-Light.woff2") format("woff2"),
         url("./72-Light.woff") format("woff");
}

@font-face {
    font-family: "72";
    font-style: normal;
    font-weight: 400;
    src: url("./72-Regular.woff2") format("woff2"),
         url("./72-Regular.woff") format("woff");
}

@font-face {
    font-family: "72";
    font-style: normal;
    font-weight: 700;
    src: url("./72-Regular.woff2") format("woff2"),
         url("./72-Regular.woff") format("woff");
}