.Content {
  border-radius: 12px;
  background-color: #f6fafd;
  padding: 40px;
}

.Header {
  display: flex;
}

.HeaderContent {
  flex: 1;

  & .HeaderTitle {
    font-size: 32px;
    line-height: 1.2em;
  }

  & .HeaderSubTitle {
    font-size: 22px;
    line-height: 1.2em;
    margin-top: 12px;
  }
}

.Logo {
  margin-left: 20px;
  max-width: 150px;
  max-height: 150px;

  & img {
    width: 100%;
    max-height: 100%;
  }
}

.Bar {
  border-bottom: 1px solid #ddecf8;
  display: flex;
  margin: var(--default-margin-half) 0 calc(var(--default-margin-half)/2) 0;
  padding-bottom: 5px;

  & .Date {
    flex: 1;
  }

  & .Location {
    opacity: 0.5;
  }
}

.Speakers {
  padding: 40px 40px 0;
}

.SpeakersList {
  display: flex;
  gap: 12px;
  margin-right: -12px;
  flex-wrap: wrap;

  & > * {
    width: calc(50% - 12px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.Description {
  & a {
    transition: color 0.2s ease-out;
    text-decoration: none;

    &:link, &:active, &:visited {
        transition: color 0.2s ease-out;
        color: #1873b4;
    }
    &:hover {
        border-bottom: 1px solid #b9d5e8;
    }
  }
}

.Actions {
  margin: 40px 0 -20px;
  display: flex;
  gap: 10px;
}