.Content {
  border-radius: 12px;
  background-color: #f6fafd;
  padding: 40px;
}

.Header {
  flex: 1;

  & .HeaderTitle {
    font-size: 32px;
    line-height: 1.2em;
    font-weight: bold;
  }

  & .HeaderSubTitle {
    font-size: 22px;
    line-height: 1.2em;
    margin-top: 12px;
  }
}

.Speakers {
  padding: 40px;
}

.SpeakersList {
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.Description {
  & a {
    transition: color 0.2s ease-out;
    text-decoration: none;

    &:link, &:active, &:visited {
        transition: color 0.2s ease-out;
        color: #1873b4;
    }
    &:hover {
        border-bottom: 1px solid #b9d5e8;
    }
  }
}

.Actions {
  margin: 40px 0 -20px;
}