.Event {
    & .EventTitle {
        margin-bottom: 5px;
        font-size: 20px;
        display: block;
    }

    & .EventLocation {
    }

    & .EventDescription {
        margin-bottom: 5px;
        color: rgba(29, 29, 29, 0.8);
    }

}