.tile {
	}
	.tile__title {
		font-size: 20px;
		}
	.tile__text {
		}

/* type_feature */
.tile.type_feature {
	padding-top: 120px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 50% 0;
	}
	.tile.type_feature.icon_1 {
		background-image: url("./type_feature/1.svg");
		background-size: 112px 98px;
		}
	.tile.type_feature.icon_2 {
		background-image: url("./type_feature/2.svg");
		background-size: 185px 98px;
		}
	.tile.type_feature.icon_3 {
		background-image: url("./type_feature/3.svg");
		background-size: 112px 98px;
		}
	.tile.type_feature .tile__text {
		margin-top: 15px;
		}

/* type_project */
.tile.type_project {
	}
	.tile.type_project .tile__icon {
		margin-bottom: 24px;
		}
.tile.type_project .tile__title {
	color: #1873b4;
}
.tile.type_project .tile__text {
	margin-top: 15px;
}

/* type_addproject */
.tile.type_addproject {
	width: 30%;
	background-repeat: no-repeat;
	background-position: 0 0;
	}
	.tile.type_addproject .tile__icon {
		margin-bottom: 24px;
		}
	.tile.type_addproject .tile__title {
			color: #1873b4;
		}
	.tile.type_addproject .tile__text {
			margin-top: 15px;
		}

/* type_documentation */
.tile.type_documentation {
	}
	.tile.type_documentation .tile__icon {
		margin-bottom: 20px;
		}
	.tile.type_documentation .tile__title {
		font-size: 32px;
		line-height: 1em;
		margin-bottom: 25px;
		}

/* type_article */
.tile.type_article {
	}
	.tile.type_article .tile__title {
		font-size: 20px;
		margin-bottom: 15px;
		}

/* type_community */
.tile.type_community {
	text-align: center;
	}
	.tile.type_community .tile__icon {
		display: inline-block;
		margin: 0 auto 24px;
		}
	.tile.type_community .tile__text {
		margin-top: 15px;
		}

/* type_engage */
.tile.type_engage {
	}
	.tile.type_engage .tile__icon {
		margin-bottom: 24px;
		}
	.tile.type_engage .tile__text {
		margin-top: 15px;
		}

/* type_event */
.tile.type_event {
	}
	.tile.type_event .tile__title {
		margin-bottom: 5px;
		}

/* type_asset */
.tile.type_asset {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	}
	.tile.type_asset .tile__text {
		margin: 15px 0;
		flex-grow: 1;
		}
	.tile.type_asset .tile__button {
		width: 100%;
		}

@media (max-width: 980px) {
	.tile.type_addproject {
		width: 45%;
		}
}
@media (max-width: 568px) {
	.tile.type_addproject {
		width: 100%;
		}
}