.Tile {
    & .TileTitle {
        font-size: 20px;
        display: block;
    }

    & .TileDescription {
        margin-top: 15px;
    }

    & .TileIcon {
        display: inline-block;
        font-size: 0;
        line-height: 0;
        margin-bottom: calc(var(--default-margin) / 4);
    }

    &.align_center {
        text-align: center;
    }
}

/* type_documentation */
.Tile.type_documentation {
    & .TileTitle {
        font-size: 32px;
        line-height: 1em;
        margin-bottom: 25px;
    }
}

/* type_article */
.Tile.type_article {
    & .TileTitle {
        font-size: 20px;
        margin-bottom: 15px;
    }
}

/* type_assert */
.Tile.type_assert {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    & .TileDescription {
        margin: 15px 0;
        flex-grow: 1;
    }
}

/* type_assert */
.Tile.type_assert {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    & .TileDescription {
        margin: 15px 0;
        flex-grow: 1;
    }
}

/*!* type_project *!*/
/*.tile.type_project {*/
    /*}*/
    /*.tile.type_project .tile__icon {*/
        /*margin-bottom: 24px;*/
        /*}*/
    /*.tile.type_project .tile__title {*/
        /*color: #1873b4;*/
        /*}*/
    /*.tile.type_project .tile__text {*/
        /*margin-top: 15px;*/
        /*}*/

/*!* type_addproject *!*/
/*.tile.type_addproject {*/
    /*width: 30%;*/
    /*padding-top: 120px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0 0;*/
    /*background-image: url("./type_addproject/add.svg");*/
    /*background-size: 96px 96px;*/
    /*}*/
    /*.tile.type_addproject .tile__title {*/
        /*color: #1873b4;*/
        /*}*/
    /*.tile.type_addproject .tile__text {*/
        /*margin-top: 15px;*/
        /*}*/

/*!* type_documentation *!*/
/*.tile.type_documentation {*/
    /*}*/
    /*.tile.type_documentation .tile__icon {*/
        /*margin-bottom: 24px;*/
        /*}*/
    /*.tile.type_documentation .tile__title {*/
        /*font-size: 32px;*/
        /*line-height: 1em;*/
        /*margin-bottom: 25px;*/
        /*}*/


/*!* type_community *!*/
/*.tile.type_community {*/
    /*text-align: center;*/
    /*}*/
    /*.tile.type_community .tile__icon {*/
        /*display: inline-block;*/
        /*margin: 0 auto 24px;*/
        /*}*/
    /*.tile.type_community .tile__text {*/
        /*margin-top: 15px;*/
        /*}*/

/*!* type_engage *!*/
/*.tile.type_engage {*/
    /*}*/
    /*.tile.type_engage .tile__icon {*/
        /*margin-bottom: 24px;*/
        /*}*/
    /*.tile.type_engage .tile__text {*/
        /*margin-top: 15px;*/
        /*}*/

/*!* type_event *!*/
/*.tile.type_event {*/
    /*}*/
    /*.tile.type_event .tile__title {*/
        /*margin-bottom: 5px;*/
        /*}*/

/*!* type_asset *!*/
/*.tile.type_asset {*/
    /*height: 100%;*/
    /*position: relative;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*}*/
    /*.tile.type_asset .tile__text {*/
        /*margin: 15px 0;*/
        /*flex-grow: 1;*/
        /*}*/
    /*.tile.type_asset .tile__button {*/
        /*width: 100%;*/
        /*}*/

/*@media (max-width: 980px) {*/
    /*.tile.type_addproject {*/
        /*width: 45%;*/
        /*}*/
/*}*/
/*@media (max-width: 568px) {*/
    /*.tile.type_addproject {*/
        /*width: 100%;*/
        /*}*/
/*}*/