.Icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;


	--icon-size: 0;

	width: var(--icon-size);
	height: var(--icon-size);

	&::before {
		display: block;
		content: '';
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		background-color: #f4f9fb;
		z-index: -1;
		border-radius: calc(var(--icon-size) / 2);
	}

	& img {
		width: calc(var(--icon-size) / 2);
		height: calc(var(--icon-size) / 2);
	}

	&.size_96x96 {
		--icon-size: 96px;
	}

	&.size_120x120 {
		--icon-size: 120px;
	}
}

/*
.icon.size_96x96:not(.noref):hover:before{
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	border: #b9d5e8 solid 1px;
	border-radius: 48px;
}
*/

/*
.icon.size_120x120 {
	width: 120px;
	height: 120px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 64px 64px;
}

.icon.size_120x120::before {
	display: block;
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background-color: #f4f9fb;
	border-radius: 60px;
	z-index: -1;
}

.icon.size_120x120:hover:before {
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	border: #b9d5e8 solid 1px;
	border-radius: 60px;
}

.icon.add_project{
}

.icon.size_120x120.name_addproject {
	width: 96px;
	height: 96px;
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-size: 96px 96px;
}


.icon.size_120x120.name_addproject:hover:before {
	background-color: #e5f0f6;
	z-index: auto;
	background-image: url("./img/add.svg");
	pointer-events: none;
}

.icon.size_120x120.name_addproject::before {
	display: block;
	content: '';
	width: 96px;
	height: 96px;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #f4f9fb;
	border-radius: 60px;
	z-index: -1;
	border: 0;
}

.icon.name_placeholder {
}

.icon.size_96x96.name_placeholder::after {
	display: block;
	content: '';
	width: 48px;
	height: 48px;
	top: 24px;
	left: 24px;
	position: absolute;
	border: 2px solid #1873b4;
	border-radius: 24px;
}

.icon.size_120x120.name_placeholder::after {
	display: block;
	content: '';
	width: 64px;
	height: 64px;
	top: 28px;
	left: 28px;
	position: absolute;
	border: 2px solid #1873b4;
	border-radius: 32px;
}

*/