.navigation {
	font-size: 18px;
	line-height: 21px;
	display: inline-block;
	margin-top: 15px;
	text-align: right;
	}
	.navigation__item {
		position: relative;
		color: rgba(255, 255, 255, 0.64);
		text-decoration: none;
		display: inline-block;
		margin: 11px 30px;
		vertical-align: middle;
		}
		.navigation__item:first-child {
			margin-left: 0;
			}
		.navigation__item:last-child {
			margin-right: 0;
			}
		.navigation__item:hover {
			color: rgba(255, 255, 255, 1);
			}
	.navigation__item.state_active {
		color: #fff;
		}
		.navigation__item.state_active:after {
			position: absolute;
			display: block;
			content: '';
			border-bottom: 4px solid #fff;
			left: 0;
			right: 0;
			bottom: -13px;
			}

@media (max-width: 1100px) {
	.navigation__item {
		margin-left: 20px;
		margin-right: 20px;
		}
}

@media (max-width: 980px) {
	.navigation {
		margin-top: 4px;
		}
	.navigation__item {
		margin-left: 10px;
		margin-right: 10px;
		}
}

@media (max-width: 767px) {
	.navigation {
		text-align: left;
		display: block;
		padding: 0 20px
		}
	.navigation__item {
		display: block;
		margin: 0;
		line-height: 44px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.12);
		}
		.navigation__item.state_active:after {
			content: none;
			}
}
