.Event {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  position: relative;

  &.view_emphasized:after{
    border-color: #2381c5;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    border: solid 2px #eaf0f5;
    pointer-events: none;
  }

  &:hover::after {
    border-color: #2381c5;
    border-width: 4px;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
  }
}

.Header {
  flex: 1;
  padding: 24px;

  & .HeaderTitle {
    font-size: 22px;
    font-weight: bold;
  }

  & .HeaderDescription {
    margin-top: 12px;
  }
}

.Content {
  flex: 0 0 40px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Date {
  flex: 1;

  & b {
    font-weight: bold;
  }
}

.Location {
  flex: 0 0;
  color: #1d1d1d50;
  white-space: nowrap;
}

.AddToCalendar {
  flex: 0 0 40px;
  background-color: #f7fafd;
  padding-left: 24px;
  display: flex;
  align-items: center;
  color: #1366a2;
  margin-top: 5px;
  user-select: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  &:hover {
    background-color: #eaf2fb;
  }
  &:active {
    background-color: #d6e5f5;
  }
}
