.Event {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  position: relative;
  color: #1d1d1d;

  @media only screen and (max-width: 767px) {
    min-height: 200px;
    height: auto;
  }

  &.view_emphasized:after{
    border-color: #2381c5;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    border: solid 2px #eaf0f5;
    transition: border-color 0.06s ease-in-out;
    pointer-events: none;
  }

  &:hover::after {
    border-color: #2381c5;
    border-width: 4px;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
  }
}

.Header {
  flex: 1;
  padding: 24px 24px 0;
  display: flex;

}

.HeaderContent {
  flex: 1;

  & .HeaderTitle {
    font-size: 22px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @media only screen and (max-width: 767px) {
      -webkit-line-clamp: 5;
    }
  }

  & .HeaderSubTitle {
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @media only screen and (max-width: 767px) {
      -webkit-line-clamp: 4;
    }
  }
}

.Logo {
  margin-left: 20px;
  max-width: 100px;
  max-height: 100px;

  & img {
    width: 100%;
    max-height: 100%;
  }
}

.Content {
  flex: 0 0 40px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Date {
  flex: 1;

  & b {
    font-weight: bold;
  }
}

.Location {
  flex: 0 0;
  opacity: 0.5;
  white-space: nowrap;
}

.AddToCalendar {
  flex: 0 0 40px;
  background-color: #f7fafd;
  padding-left: 24px;
  display: flex;
  align-items: center;
  color: #1366a2;
  margin-top: 5px;
  user-select: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  &:hover {
    background-color: #eaf2fb;
  }
  &:active {
    background-color: #d6e5f5;
  }
}
