#sendinblue-dialog[aria-hidden="true"] {
	display: none;
}

.newsletter__modal-backdrop {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	position: fixed;
	transition: all 0.3s;
	background-color: rgba(245, 245, 245, .8);
}

.newsletter__modal {
	top: 50%;
	left: 50%;
	width: 94vw;
	padding: 1.5rem;
	max-width: 40rem;
	position: absolute;
	transform: translate(-50%, -50%);
	background: var(--white);
	border: 0.0625rem solid var(--brand-color-alt);
	border-top-width: 0.75rem;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.newsletter__form {
	display: flex;
	position: relative;
	flex-direction: column;
}

.sib-form,
#sib-container {
	padding: 0;
	background: transparent;
	font-family: Inter, sans-serif;
}

.sib-form * {
	box-sizing: border-box;
}

.sib-form-block {
	padding: 0;
}

.entry__error:empty {
	margin: 0;
}

.newsletter__form fieldset {
	border: none;
	padding: 0;
	border: 0;
	margin: 0;
}

.newsletter__form legend {
	margin: 0;
	width: 100%;
	font-size: 2.2rem;
	font-weight: 800;
	text-align: left;
}

.newsletter__close-btn {
	right: 0;
	border: none;
	top: 0.3125rem;
	cursor: pointer;
	font-size: 1.5rem;
	position: absolute;
	background: transparent;
	color: var(--brand-color-alt);
	transition: color .2s ease;
}

.newsletter__close-btn:hover {
	color: var(--brand-color);
}

.newsletter__close-btn:focus {
	border-radius: 0.2rem;
	outline: 0.0625rem solid var(--brand-color);
}

.sib-form  .newsletter__subheader {
	font-weight: bold;
	font-size: 1.1rem;
	margin: 2.5rem 0 1.5rem 0;
}

.sib-form .sib-input {
	margin-bottom: 1.5rem;
}

.sib-form-message-panel {
	border-radius: 4px;
}

.sib-form #error-message {
	border-color: var(--brand-color-alt);
	background: rgba(255, 71, 0, .2);
}

.sib-form #success-message {
	border-color: var(--sucess-color);
	background: rgb(48, 145, 76, .2);
}

.sib-form .newsletter__input {
	width: 100%;
	border: 1px solid var(--brand-color-alt);
	height: 2.5rem;
	padding: 0 1rem;
	font-size: 1.1rem;
	font-weight: 400;
	border-radius: 0.2rem;
	transition: all .2s ease;
	box-sizing: border-box;
	background: var(--white);
	color: var(--text-color);
}

.sib-form .newsletter__input:focus {
	border-radius: 0.2rem;
	outline-offset: -0.1875rem;
	outline-color: var(--brand-color-alt);
	outline: 0.125rem solid var(--brand-color-alt);
	background: var(--background-color);
}

.sib-form .newsletter__input:hover {
	background: var(--background-color);
}

.sib-form .newsletter__input::placeholder {
	font-size: 1rem;
	text-transform: normal;
	font-style: italic;
	color: var(--text-color);
}

.sib-form .newsletter__checkbox {
	display: flex;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	padding-left: 2rem;
	font-size: 0.875rem;
	line-height: 1.375rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all .2s ease;

}

.sib-form .newsletter__checkbox input {
	left: 4px;
	top: 7px;
	opacity: 0;
	cursor: pointer;
	position: absolute;
}

.sib-form .newsletter__checkmark {
	top: 0;
	left: 0;
	width: 1.25rem;
	height: 1.25rem;
	position: absolute;
	border-radius: 0.2rem;
	transition: all .2s ease;
	background: var(--white);
	border: 1px solid var(--brand-color-alt);
}

.newsletter__checkbox input:checked ~ .newsletter__checkmark {
	background: var(--background-color);
}

.newsletter__checkbox input:focus ~ .newsletter__checkmark {
	box-shadow: 0 0 0.0625rem 0.125rem var(--brand-color-alt);
}

.newsletter__checkbox input:checked:focus ~ .newsletter__checkmark {
	box-shadow: 0 0 0.0625rem 0.125rem var(--brand-color-alt);
}

.newsletter__checkmark:after {
	content: "";
	display: none;
	position: absolute;
}

.newsletter__checkbox input:checked ~ .newsletter__checkmark:after {
	display: block;
}

.newsletter__checkbox .newsletter__checkmark:after {
	left: 0.45rem;
	top: 0.25rem;
	width: 0.375rem;
	height: 0.625rem;
	border: solid var(--brand-color-alt);
	border-width: 0 0.1875rem 0.1875rem 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.newsletter__checkbox [data-required] {
	color: var(--brand-color-alt);
}

p.newsletter__unsubscribe {
	margin: 1rem 0;
	font-size: 0.875rem;
	color: var(--text-color);
}

.newsletter__sendinblue {
	gap: 1rem;
	display: flex;
	align-items: center;
}

.newsletter__sendinblue div {
	display: flex;
}

.newsletter__sendinblue p {
	font-size: 0.875rem;
	line-height: 1.2rem;
	color: var(--text-color);
	margin: 1rem 0;
}

.newsletter__sendinblue a {
	color: var(--brand-color-alt);
	font-size: 0.875rem;
}

.newsletter_subscribe-btn-block {
	text-align: center;
}

.newsletter__subscribe-btn {
	z-index: 1;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid var(--dark-brand-color);
	font-size: var(--type-0);
	font-weight: 600;
	line-height: 1.3;
	padding: .7rem;
	margin-inline-end: .6rem;
	background: transparent;
	text-decoration: none;
	cursor: pointer;
	color: var(--text-color);
}

.newsletter__subscribe-btn:is(:hover, :focus) {
	text-decoration: none;
	background: var(--btn-bg-color);
	color: var(--text-color-contrast);
}

.newsletter__subscribe-btn:focus {
	text-decoration: none;
	background: var(--btn-bg-color);
	color: var(--text-color-contrast);
}

.newsletter__subscribe-btn:is(:focus-within) {
	outline: 2px solid var(--text-color-contrast);
	outline-offset: -4px;
}

@media screen and (max-width: 900px) {
	.newsletter__modal {
		padding: 1rem;
	}
}

@media screen and (max-width: 500px) {
	.newsletter__form legend {
		font-size: 7vw;
	}
}

/* ---------------------------- Dark Mode ----------------------------  */
@media (prefers-color-scheme: dark) {
	.newsletter__modal-backdrop {
		background-color: rgba(50, 50, 50, .7);
	}

	.newsletter__subscribe-btn,
	.newsletter__subscribe-btn:is(:hover, :focus) {
		color: var(--text-color);
	}
}
/*
 * ====================================  Successful subscription page ============================
 */

.subscription-confirmation-page .content-header-container,
.subscription-confirmation-page .content-container {
	text-align: center;
}

.confirmation-message {
	min-height: calc(100vh - 150px);
}

.confirmation-message .date {
	margin: auto;
}

.-sticky-footer {
	height: 100px;
}
