.GuidelinesList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: env(--screen-breakpoint-980)) {
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

.GuidelinesListItem {
    &.background_black {
        background-color: #000000;
    }
}


.GuidelinesList.type_flavors {
    justify-content: space-around;

    & .GuidelinesListItem {
        flex-basis: auto;
        max-width: 250px;
        padding: 36px;
        border: 1px solid #000000;
        border-radius: 50%;
    }
}

.GuidelinesList.type_layout {
    margin-bottom: calc(-1 * var(--default-margin-half));

    & .GuidelinesListItem {
        padding: 20px;
        flex-basis: 50%;
        margin-bottom: var(--default-margin-half);

        @media (max-width: env(--screen-breakpoint-568)) {
            flex-basis: 100%;
        }
    }

    justify-content: space-around;

}

.GuidelinesList.type_assert {
    align-items: stretch;
    margin-bottom: calc(-1 * var(--default-margin-half));

    & .GuidelinesListItem {
        flex-basis: 30%;
        margin-bottom: var(--default-margin-half);

        @media (max-width: env(--screen-breakpoint-980)) {
            flex-basis: 45%;
        }

        @media (max-width: env(--screen-breakpoint-568)) {
            flex-basis: 100%;
        }
    }

}