.guidelines__intro {
	font: 28px/40px "72-Light";
	margin-bottom: 20px;
	}
	.guidelines__text-block:not(:last-child) {
		margin-bottom: 40px;
		}

	.guidelines__ui5icon {
		padding: 10%;
		margin: 10px auto;
		border-radius: 50%;
		max-width: 250px;
		}
		.guidelines__ui5icon.mod_red {
			background-color: #000000;
			}
		.guidelines__ui5icon.mod_blue {
			background-color: #ffffff;
			border: 1px solid #000000;
			}
		.ui5icon__image {
			width: 100%;
			height: 0;
			padding-top: 100%;
			}

			.guidelines__ui5icon.mod_red > .ui5icon__image {
				background-image: url("./O.svg");
				}

			.guidelines__ui5icon.mod_blue > .ui5icon__image {
				background-image: url("./B.svg");
				}

	.guidelines__layout {
		display: flex;
		}

	.icon-layout-item {
		width: 50%;
		padding: 20px;
		}
	.icon-layout-item.mod_red {
		background-color: #000000;
		}
	.icon-layout__horizontal {
		width: 100%;
		height: 0;
		padding-top: 37%;
		}
	.icon-layout__vertical {
		width: 100%;
		height: 0;
		padding-top: 101%;
		}
	.icon-layout-item.mod_red > .icon-layout__horizontal {
		background-image: url("./O_OpenUI5_H.svg");
		}
	.icon-layout-item.mod_red > .icon-layout__vertical {
		background-image: url("./O_OpenUI5_V.svg");
		}
		.icon-layout-item.mod_blue > .icon-layout__horizontal {
		background-image: url("./B_OpenUI5_H.svg");
		}
	.icon-layout-item.mod_blue > .icon-layout__vertical {
		background-image: url("./B_OpenUI5_V.svg");
		}

	.iconmodel_3d {
		display: flex;
		justify-content: space-between;
		}
	.iconmodel_3d__col1 {
		flex-basis: 60%;
		margin-right: 40px;
		}
	.iconmodel_3d__col2 {
		height: 240px;
		min-width: 200px;
		flex-basis: 30%;
		background: transparent url("./3d_logos_new.jpg") no-repeat right center;
		background-size: contain;
		}

@media (max-width: 568px) {
	.guidelines__intro {
		font: 20px/28px "72-Light";
		padding-bottom: 10px;
		}
	.guidelines__layout {
		display: block;
		}
	.icon-layout-item {
		width: 100%;
		}
	.iconmodel_3d {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		}
	.iconmodel_3d__col1 {
		flex-basis: 100%;
		margin-right: 0;
		}
	.iconmodel_3d__col2 {
		height: 240px;
		min-width: 200px;
		flex-basis: auto;
		background: transparent url("./3d_logos_new.jpg") no-repeat right center;
		background-size: contain;
		}

	}
