.ColorTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.ColorTable th, .ColorTable td {
    height: 60px;
    max-height: 60px;
    line-height: 60px;
    padding: 0 20px;
}

.ColorTable th {
    font-size: 24px;

    &:first-child {
        width: 20%;
    }
}

.ColorTable td {
    font-size: 18px;

    &:first-child {
        width: 20%;
    }

    &:not(:first-child) {
        text-align: center;
    }

}

.ColorCell img, .ColorCell span{
    display: inline;
    vertical-align: middle;
}

