
.Title {
    margin-bottom: 40px;
    line-height: 1em;

    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.PrimaryTitle {
    font-size: 44px;
    font-weight: 400;
    margin-top: 0;

    @media (max-width: 767px) {
        font-size: calc(40px * 0.75);
        line-height: calc(40px * 0.75);
    }
}

.SecondaryTitle {
    font-size: 32px;
    font-weight: 400;

    @media (max-width: 767px) {
        font-size: calc(32px * 0.75);
        line-height: calc(32px * 0.75);
    }
}

.TertiaryTitle {
    font-size: 20px;
}

