.Toolbar {
    display: flex;

    & .ToolbarItem {
        flex-grow: 0;
        margin-left: 25px;

        &:first-child {
            margin-left: 0;
        }

        &.mod_logo {
            text-align: center;
            margin-left: 0;
            line-height: 0;
            z-index: 2;

            @media (max-width: env(--screen-breakpoint-767)) {
                flex-grow: 1;
            }
        }
        &.mod_version {
            flex-basis: 80px;
            position: relative;

            @media (max-width: env(--screen-breakpoint-980)) {
                display: none;
            }

            & :first-child {
                position: absolute;
                top: 23px;
            }
        }
        &.mod_navigation {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
            margin: 7px 0;

            @media (max-width: env(--screen-breakpoint-980)) {
                margin: 0;
            }
            @media (max-width: env(--screen-breakpoint-767)) {
                margin-left: 0;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #1366a2;
                height: 0;
                overflow: hidden;
                transition: height .5s ease-in-out;
                justify-content: flex-start;
                align-items: flex-start;

                & .Navigation {
                    margin-top: 45px;
                    flex-grow: 1;
                    padding: 25px;

                    & > * {
                        transform: translateX(70px);
                        opacity: 0;

                        &:nth-child(1) {
                          transition: opacity .3s ease-in-out .03s,
                                      transform .4s ease-in-out .02s;
                        }

                        &:nth-child(2) {
                          transition: opacity .3s ease-in-out .05s,
                                      transform .4s ease-in-out .04s;
                        }

                        &:nth-child(3) {
                          transition: opacity .3s ease-in-out .07s,
                                      transform .4s ease-in-out .06s;
                        }

                        &:nth-child(4) {
                          transition: opacity .3s ease-in-out .09s,
                                      transform .4s ease-in-out .08s;
                        }

                        &:nth-child(5) {
                          transition: opacity .3s ease-in-out .11s,
                                      transform .4s ease-in-out .10s;
                        }
                    }
                }
            }
        }
        &.mod_github {
            margin-left: 55px;
            line-height: 0;
            display: flex;
            align-items: center;
            z-index: 2;

            @media (max-width: env(--screen-breakpoint-1200)) {
                margin-left: 35px;
            }
            @media (max-width: env(--screen-breakpoint-1100)) {
                margin-left: 25px;
            }
            @media (max-width: env(--screen-breakpoint-980)) {
                margin-left: 15px;
            }
            @media (max-width: env(--screen-breakpoint-767)) {
                margin-left: 0;
            }
        }
        &.mod_hamburger {
            flex-basis: 34px;
            line-height: 0;
            z-index: 2;
            display: none;

            @media (max-width: env(--screen-breakpoint-767)) {
                display: block;
            }
        }
    }

    &.view_open {
        & .ToolbarItem {
            &.mod_hamburger,
            &.mod_logo,
            &.mod_github {
                z-index: 2;
            }
            &.mod_navigation {
                height: 100vh;

                & .Navigation > * {
                    opacity: 0.8;
                    transform: none;
                }
            }
        }
    }
}