.Version {
    &:link,
    &:visited,
    &:active {
        font-size: 15px;
        line-height: 23px;
        color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.5);
        transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
                    border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        text-decoration: none;
        border-radius: 20px;
        display: inline-block;
        padding: 0 12px;
    }
    &:hover {
        border-color: rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
    }
}
