<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>UI5con Germany in July 2025</title>
	<meta name="description"
		content="If you want to learn more about UI5, you can't miss UI5con 2025. A day of inspiration, learning, and networking with like-minded people. Inspiring talks. Endless learning. Frontend, Framework, SAPUI5, OpenUI5, UI5con, SAP" />
	<meta name="keywords"
		content="webstandards, web standards, html, css, JavaScript, Accessibility, Barrierefreiheit, WCAG, OpenUI5, DevOps, SAPUI5, UI5con, UI5 Web Components, Web Components, Webcomponents, Open Source" />
	<meta name="robots" content="index, follow" />
	<meta name="author" content="SAP SE" />
	<meta property="twitter:card" content="summary" />
	<meta property="twitter:url" content="https://openui5.org/ui5con/" />
	<meta property="twitter:title" content="UI5con Germany in July 8th 2025" />
	<meta property="twitter:description"
		content="If you want to learn more about UI5, you can't miss UI5con 2025. A day of inspiration, learning, and networking with like-minded people. Inspiring talks. Endless learning. July 8th 2025" />
	<meta property="twitter:image" content="https://openui5.org/ui5con/images/share.png" />
	<meta property="og:title" content="UI5con Germany in July 8th 2025" />
	<meta property="og:description"
		content="If you want to learn more about UI5, you can't miss UI5con 2025. A day of inspiration, learning, and networking with like-minded people. Inspiring talks. Endless learning. July 8th" />
	<meta property="og:image" content="https://openui5.org/ui5con/images/share.png" />
	<meta name="theme-color" content="#e76500">

	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="icon" type="image/svg+xml" href="images/icon.svg" />
	<link rel="icon" sizes="any" href="images/android-chrome-192x192.png" />

	<link rel="preconnect" href="https://rsms.me/">
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

	<link rel="stylesheet" href="./css/common.css" />
	<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
	<link rel="stylesheet" href="./css/modules.css" />

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

<body>
	<nav class="nav" aria-label="Main navigation" id="nav">
		<nav-section v-if="!showMobileNav"></nav-section>
		<nav-section-mobile v-else></nav-section-mobile>
	</nav>

	<main id="main">
		<article>
			<section style="padding-top: 20px;">
				<div class="wrap section-blr-normal-bg2 section-blr-bg2-themeb">
					<h2 class="section-heading section-heading-color2">
						<span>Speak at UI5con</span>
					</h2>

					<p class="section-blr-body section-blr-body-themeb" style="line-height: 2; font-size: 16px;">Submit
						your session proposals and share your expertise with the vibrant UI5 community.
						This is your chance to inspire, educate, and collaborate with like-minded professionals from
						around the world.</p>

					<p class="section-blr-body section-blr-body-themeb" style="line-height: 2; font-size: 16px;">
						<strong>Call for Proposals closes on 10. June 2025, at 23:59 UTC.</strong>
					</p>

					<div class="section-blr-div social-links-action">
						<a class="section-blr-btn-link" href="https://ui5conindia.cfapps.eu12.hana.ondemand.com">
							<button class="btn section-blr-btn">Propose your topic</button>
						</a>
					</div>

				</div>
			</section>
			<section style="padding-top: 20px;">
				<div class="wrap section-blr-bg2-themeb">
					<h2 class="sub-section-heading section-heading-color2">
						<span>Inspire, Educate, and Grow with the UI5 Community</span>
					</h2>

					<p>Speaking at UI5con is your chance for personal and professional growth. Refine your communication
						skills, expand your network,
						and establish yourself as a thought leader in the UI5 community. We value unique ideas, diverse
						perspectives, and innovative approaches that
						can contribute to the advancement of the entire UI5 ecosystem.</p>

					<p>We're seeking proposals on a wide range of topics, including but not limited to:</p>

					<ul>
						<li>Creative UI5 implementations</li>
						<li>Efficient development tips and techiques</li>
						<li>Real-world case studies and success stories</li>
						<li>Methodologies and tools to streamline the UI5 development process</li>
						<li>Insights on the future of UI5 and its evolving ecosystem</li>
						<li>Integrating UI5 with other technologies and platforms</li>
						<li>Advancements in JavaScript, CSS, and related web technologies</li>
						<li>UI/UX design guidelines and optimization</li>
					</ul>

					<p>We offer a variety of session formats to suit your presentation style and audience engagement
						preferences:</p>

					<ul>
						<li>Quickfire presentations (20 minutes): Deliver a concise, impactful presentation or demo.
						</li>
						<li>In-depth presentations (40 minutes): Deep dive into a topic with comprehensive insights,
							practical examples, and live coding.</li>
						<li>Hands-on workshops (60, 90, or 120 minutes): Provide an interactive learning experience for
							attendees.</li>
						<li><i>*NEW*</i> Pitch Your Idea (5 minutes): A brand new format for 2025! Spark collaboration
							by pitching your innovative UI5 idea.</li>
					</ul>

					<p>All sessions will be conducted in English and held in-person at the conference venue in
						SAP Labs Bengaluru.
						Please note that we are unable to offer speaker compensation or travel expense reimbursement.
					</p>
				</div>
			</section>
			<section style="padding-top: 20px;">
				<div class="wrap section-blr-normal-bg2 section-blr-bg2-themeb">
					<h2 class="sub-section-heading section-heading-color2">
						<span>Proposal Requirements</span>
					</h2>

					<p>When submitting your proposal, you’ll be asked to include the following information:</p>

					<ul>
						<li>Title (max 75 characters): A concise and engaging title that accurately reflects your
							session content.</li>
						<li>Session Type: Select from quickfire presentation, in-depth presentation, hands-on workshop,
							or idea pitch.</li>
						<li>Description (200-300 words): A clear overview highlighting key takeaways and the value for
							attendees.</li>
						<li>Remarks (optional): Additional information that could suppport your proposal. You can also
							include a suggestion for a new
							session format.</li>
						<li>Speaker Details: Name(s) and email address(es) of up to four speakers (depending on the
							session format).</li>
					</ul>
				</div>
			</section>
			<section style="padding-top: 20px;">
				<div class="wrap section-blr-bg2-themeb">
					<h2 class="sub-section-heading section-heading-color2">
						<span>Tips for a Successful Proposal</span>
					</h2>

					<p>To increase your chances of having your proposal accepted for UI5con, please consider the
						following tips:</p>

					<ul>
						<li>Focus on providing value to attendees through original ideas, real-world scenarios, and
							practical examples.</li>
						<li>Be specific about the products, topics, and techniques you will cover, and identify your
							target audience. </li>
						<li>Tailor your content to fit within the allocated time, ensuring a focused and impactful
							presentation.</li>
						<li>Don’t assume that your company’s name buys you credibility. If you’re talking about
							something important
							that you have specific knowledge of because of what your company does, spell that out in the
							description.</li>
						<li>Avoid marketing and sales language in your proposal.</li>
						<li>We value diversity and consider it seriously when reviewing proposals to ensure a broad
							range of speakers.</li>
					</ul>

					<p>Please note that UI5con caters to professionals, so keeping this audience in mind is essential.
						Additionally, all speakers are required to adhere to our <a href="codeofconduct.html">Code of
							Conduct</a>, which emphasizes the importance of
						creating an inclusive and respectful environment for all participants. Therefore, it is vital
						that your presentation,
						along with any supporting materials and informal commentary, is not only informative but also
						welcoming and
						respectful to everyone involved.</p>

				</div>
			</section>
		</article>

		<section style="padding-top: 20px;">
			<div class="wrap section-blr-normal-bg2 section-blr-bg2-themeb">
				<h2 class="sub-section-heading section-heading-color2">
					<span>Jury</span>
				</h2>

				<ul class="people-list people-list--team" role="list">
					<li role="listitem" class="people-list-item" v-for="member in committee" :key="member.name">
						<figure class="people-member">

							<img v-if="member.image" :src="member.image" :alt="`Portrait of ${member.name}`">
							<div v-else class="placeholder" aria-hidden="true"></div>

							<figcaption>
								<p class="people-name">{{member.name}}</p>
								<small>{{member.role}}</small>
							</figcaption>
						</figure>

					</li>
				</ul>


			</div>
		</section>

	</main>

	<footer id="footer">
		<footer-section></footer-section>
	</footer>

	<script src="./components/nav-section.component.js"></script>
	<script src="./components/nav-section-mobile.component.js"></script>
	<script src="./components/footer-section.component.js"></script>
	<script src="./js/main.js"></script>

</body>

</html>