.Section {
    width: 100%;
    }
    .Section.color_lightblue {
        background-color: #f4f9fb;
        }
    .SectionContent {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 80px 40px;
        }
    .SectionContent.no_padding {
        padding-top: 0;
        padding-bottom: 0;
    }
    .SectionContent.align_center {
        text-align: center;
        }
    .Section .Section__title {
        line-height: 1em;
        margin-bottom: 40px;
        }
        .Section .Section__title.size_1 {
            font-size: 44px;
            }
        .Section .Section__title.size_2 {
            font-size: 32px;
            }
        .Section__bar {
            width: 100%;
            max-width: 1280px;
            display: flex;
            padding-top: 40px;
            }
        .Section__bar:not(:last-child) {
            padding-bottom: 80px;
            }
            .bar__item {
                }
    .Section.mod_features {
        }
        .Section.mod_features .SectionContent {
            }
    .Section.mod_startcoding {
        text-align: center;
        }
        .Section.mod_startcoding .SectionContent {
            padding-top: 70px;
            }
        .Section.mod_startcoding .Section__title.size_2 {
            font-family: "72-Light";
            line-height: 44px;
            margin: 30px auto 0;
            width: 73%;
            max-width: 1024px;
            }
        .Section.mod_startcoding .Section__editor {
            margin-top: 30px;
            margin-bottom: 80px;
            }
    .Section.mod_documentation {
        }
        .Section.mod_documentation .SectionContent {
            padding-bottom: 40px;
            }
    .Section.mod_comparison {
        }
        .Section.mod_comparison .SectionContent {
            border-top: 1px solid #f4f9fb;
            }
        .Section.mod_comparison .Section__title.size_2 {
            color: #1873b4;
            font-size: 20px;
            margin-bottom: 20px;
            }
        .Section.mod_comparison .Section__text {
            width: 100%;
            max-width: 700px;
            }
    .Section.mod_guidelines{
        }
        .Section.mod_guidelines > .SectionContent {
            padding: 20px 40px;
            }
        .Section.mod_guidelines_intro{
            }
        .Section.mod_guidelines_intro > .SectionContent {
            padding-bottom: 20px;
            }
        .Section.mod_releases > .SectionContent {
            padding-top: 60px;
            padding-bottom: 60px;
            }
    .Section.mod_releases .SectionContent {
        padding-top: 60px;
        padding-bottom: 60px;
        }
    .Section.mod_releasesHeader .SectionContent {
        padding-bottom: 40px;
        }
    .Section.mod_consume .SectionContent {
        padding-bottom: 40px;
        }
    .Section.mod_allreleases .SectionContent {
        padding-top: 40px;
        }

@media (max-width: 767px) {
    .SectionContent {
        padding: 40px 20px;
        }
    .Section.mod_guidelines > .SectionContent{
        padding: 20px;
        }
    .Section .Section__title {
        margin-bottom: 20px;
        }
        .Section .Section__title.size_1 {
            font-size: calc(44px * 0.75);
            line-height: calc(44px * 0.75);
            }
        .Section .Section__title.size_2 {
            font-size: calc(32px * 0.75);
            line-height: calc(32px * 0.75);
            }
    .Section.mod_startcoding .SectionContent {
        padding: 35px 20px 40px;
        }
        .Section.mod_startcoding .Section__title.size_2 {
            line-height: calc(44px * 0.75);
            margin-top: 15px;
            }
        .Section.mod_startcoding .Section__editor {
            margin-top: 15px;
            margin-bottom: 40px;
            }
    .Section.mod_documentation .SectionContent {
        padding-bottom: 20px;
        }
    .Section.mod_releasesHeader .SectionContent {
        padding-bottom: 20px;
        }
    .Section.mod_consume .SectionContent {
        padding-bottom: 20px;
        }
    .Section.mod_allreleases .SectionContent {
        padding-top: 20px;
        }
}