.agenda-sort {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
  margin-block: 2rem;
}

@media only screen and (min-width: 768px) {

  .agenda-sort {
    flex-direction: column-reverse;
  }

  .ui5con-agenda-toggle {
    place-self: flex-end;
  }
}

@media only screen and (min-width: 1024px) {

  .agenda-sort {
    flex-direction: row;
  }

  .ui5con-agenda-toggle {
    place-self: center;
  }
}

.ui5con-agenda-toggle {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  position: relative;
  width: fit-content;
  border-radius: 2.5rem;
}

.ui5con-agenda-toggle__element input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.ui5con-agenda-toggle__element:focus-within label {
  outline: none;
}

.ui5con-agenda-toggle__element label {
  display: flex;
  cursor: pointer;
  font-size: 0.875rem;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  transition: border 0.5s ease;
  border: 1px solid var(--brand-color);
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  position: relative;
  transition: background-color .2s linear;
  background-color: var(--white);
}

.ui5con-agenda-toggle__element:first-of-type label {
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
}

.ui5con-agenda-toggle__element:last-child label {
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  border-left: 0;
}

.ui5con-agenda-toggle__element input[type="radio"]:checked + label {
  border-color: var(--brand-color);
  background: var(--brand-color-alt);
  color: var(--white);
  z-index: 1;
}

.ui5con-agenda-toggle__element label time {
  font-size: 0.75rem;
  font-weight: normal;
  text-transform: capitalize;
  color: var(--sapTextSecondaryColor);
}

/* FILTERS */
.ui5con-agenda-filter-container {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.ui5con-agenda-filter-container:not(:has( ~ .ui5con-agenda-toggle)) {
  margin: auto;
}

.ui5con-agenda-filter {
  border: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.ui5con-agenda-filter__legend {
  color: var(--brand-color-alt);
  font-weight: 700;
  font-size: 1rem;
  margin-block-end: .5rem;
}

.ui5con-agenda-filter__element {
  display: flex;
  align-items: center;
  color: var(--brand-color-alt);
  font-size: 1rem;
  line-height: 1.2;
  border-top: 1px solid var(--brand-color-alt);
  border-bottom: 1px solid var(--brand-color-alt);
  border-left: 1px solid var(--brand-color-alt);
  overflow: hidden;
}

.ui5con-agenda-filter__element:first-of-type {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.ui5con-agenda-filter__element:last-child {
  border-right: 1px solid var(--brand-color-alt);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.ui5con-agenda-filter__label {
  gap: 0.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-block: 0.25rem;
  padding-inline:  0.35rem;
}

.ui5con-agenda-filter__element input[type="radio"] {
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
}

.ui5con-agenda-filter__element input[type="radio"] + .ui5con-agenda-filter__label::before {
  content: '';
  display: none;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 100%;
  transition: all 250ms ease;
  border: 1px solid var(--brand-color-alt);
}

.ui5con-agenda-filter__element input[type="radio"]:checked + .ui5con-agenda-filter__label {
  color: var(--white);
  background: var(--brand-color-alt);
}

.ui5con-agenda-filter__element input[type="radio"]:checked:hover + .ui5con-agenda-filter__label {
  color: var(--white);
}

.ui5con-agenda-filter__element input[type="radio"] + .ui5con-agenda-filter__label {
  color: var(--brand-color-alt);
}

.ui5con-agenda-filter__element input[type="radio"]:hover + .ui5con-agenda-filter__label {
  color: var(--brand-color-alt);
}

.ui5con-agenda-filter__element input[type="radio"]:hover + .ui5con-agenda-filter__label::before {
  border-color: var(--brand-color-alt);
  background: var(--white);
}

.ui5con-agenda-filter__element input[type="radio"]:checked + .ui5con-agenda-filter__label::before {
  border-color: var(--brand-color-alt);
  background: var(--brand-color-alt);
}

@media only screen and (min-width: 768px) {
  .ui5con-agenda-filter__label {
    gap: 0.5rem;
  }

  .ui5con-agenda-filter__legend {
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }

  .ui5con-agenda-filter__element {
    gap: 0.5rem;
    font-size: 1rem;
  }

  .ui5con-agenda-filter__element input[type="radio"] + .ui5con-agenda-filter__label:before {
    width: 1rem;
    height: 1rem;
  }

  .ui5con-agenda-filter__element input[type="radio"] + .ui5con-agenda-filter__label::before {
    display: inline-block;
    background: var(--white);
  }

  .ui5con-agenda-filter__element input[type="radio"] + .ui5con-agenda-filter__label {
    color: var(--brand-color);
  }

  .ui5con-agenda-filter__element input[type="radio"]:checked + .ui5con-agenda-filter__label {
    background: transparent;
    color: var(--brand-color-alt);
  }

  .ui5con-agenda-filter__element input[type="radio"]:checked:hover + .ui5con-agenda-filter__label {
    color: var(--brand-color-alt);
  }

  .ui5con-agenda-filter__element {
    border-top: none;
    border-bottom: none;
    border-left: none;
  }

  .ui5con-agenda-filter__element:last-child {
    border-right: none;
  }

  .ui5con-agenda-filter-container {
    gap: 3rem;
    flex-direction: row;
  }
}

[v-cloak] { display: none !important; }

.live-token {
  color: var(--brand-color-alt);
  font-size: 1.2rem;
  font-weight: 600;
  font-variant: small-caps;
  display: inline-block;
}

.live-token::after {
  content: "●";
  color: currentColor;
  margin-inline: .3rem;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

/* AGENDA LIST */
.ui5con-agenda {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ui5con-agenda-slot {
  background: var(--white);
  padding-block: 2rem;
  padding-inline: 2rem;
  border-radius: 2rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  margin-block: 0 2rem;
}

.ui5con-agenda-slot-header {
  display: flex;
  flex-direction: column;
  margin-block-end: 0;
}

.ui5con-agenda-slot-speakers-images {
  gap: 0.75rem;
  display: flex;
  padding-inline: 0;
  margin-block-end: 1rem;
}

.ui5con-agenda-slot-speakers-images button {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1rem;
  padding: 0;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background: transparent;
}

.ui5con-agenda-slot-speakers-images button:is(:hover) img {
  transform: scale(1.07);
}

.ui5con-agenda-slot-speakers-images button:is(:focus) {
  outline: 0.125rem solid var(--brand-color-alt);
}

.ui5con-agenda-slot-speakers-images button img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1rem;
  transition: all .2s ease-in-out;
}

.ui5con-agenda-slot-illustration img {
  width: 8rem;
  height: 8rem;
}

@media only screen and (min-width: 768px) {
  .ui5con-agenda-slot-header {
    gap: 1.4rem;
    flex-direction: row;
    justify-content: space-between;
  }


  .ui5con-agenda-slot-speakers-images button,
  .ui5con-agenda-slot-speakers-images button img {
    width: 6rem;
    height: 6rem;
    border-radius: 1.25rem;
  }
}

.ui5con-agenda-slot-details {
  color: var(--brand-color);
  font-size: var(--type-1);
  font-weight: 600;
  margin-block: 0 .3rem;
}

.ui5con-agenda-slot-details svg {
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-block-start: -4px;
  vertical-align: middle;
  color: var(--brand-color-alt);
}

.ui5con-agenda-slot-details span {
  display: inline-block;
  margin-inline-end: .7rem;
  margin-block-start: 0.5rem;
}

.ui5con-agenda-slot-title {
  font-size: var(--type-3);
  color: var(--brand-color-alt);
  line-height: 1.35;
  margin-block: 0 1.5rem;
}

.ui5con-agenda-slot-speakers {
  margin-block: 0 .5rem;
  font-size: var(--type-0);
  font-weight: 600;
  color: var(--dark-brand-color);
}

.ui5con-agenda-slot-description {
  margin-block: 0 2rem;
  white-space: pre-line;
}

.ui5con-agenda-slot-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.ui5con-agenda-slot-links li.livestream {
  margin-left: auto;
}

.ui5con-agenda-slot-linkitem {
  border: 2px solid var(--brand-color);
  display: inline-block;
  color: var(--brand-color-alt);
  font-weight: 600;
  font-size: .85rem;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  border-radius: 1.5rem;
  text-align: center;
  padding-inline: .5rem;
  line-height: 2;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (min-width: 800px) {

  .ui5con-agenda-slot-linkitem {
    min-width: 10rem;
    font-size: 1rem;
  }
}

.ui5con-agenda-slot-linkitem:is(:hover,:focus) {
  text-decoration: none;
}

.livestream .ui5con-agenda-slot-linkitem {
  border: none;
  color: var(--white);
  line-height: 2.2;
  background: linear-gradient(45deg, var(--brand-color-alt), var(--brand-color));
  padding-inline-start: .6rem;
}

.livestream a.ui5con-agenda-slot-linkitem:is(:focus) {
  color: var(--white);
  text-decoration-color: currentColor;
}

.livestream .ui5con-agenda-slot-linkitem::after {
  content: "●";
  color: currentColor;
  margin-inline: .3rem 0;
  animation: blink 1s linear infinite alternate;
  text-decoration-thickness: 0 !important;
  display: inline-block;
}

.ui5con-agenda-slot-experts {
  padding-inline-start: 1.4rem;
  list-style: square;
}

.ui5con-agenda-slot-experts li::marker {
  color: var(--brand-color-alt);
}