.Footer {
    background-color: #1366a2;
    color: #fff;

    & .FooterContent {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: var(--default-margin-half);
        display: flex;

        @media (max-width: env(--screen-breakpoint-767)) {
            flex-wrap: wrap;
            justify-content: center;
        }

        & .FooterItem {
            flex-grow: 0;

            &:not(:last-child) {
                margin-right: 46px;

                @media (max-width: env(--screen-breakpoint-767)) {
                    margin-right: 10px;
                }
            }
            &:not(:first-child) {
                white-space: nowrap;
            }
            &:nth-child(1) {
                flex-grow: 1;

                @media (max-width: env(--screen-breakpoint-767)) {
                    flex-basis: 100%;
                    text-align: center;
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
            & a:link,
            & a:visited,
            & a:active {
                color: rgba(255, 255, 255, 0.64);
                text-decoration: none;
            }
            & a:hover {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}