.ui5con-sponsors-table {
  font-size: var(--type-0);
  margin: auto;
  margin-block-end: 4rem;
}

@media only screen and (max-width: 750px) {
  .ui5con-sponsors-table {
    font-size: .85rem;
  }
}

.ui5con-sponsors-table tr {
  height: 3rem;
}

.ui5con-sponsors-table thead th {
  line-height: 1.75;
}

.ui5con-sponsors-sold {
  position: relative;
  color:rgba(255, 219, 207, .7);
}

.ui5con-sponsors-sold-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 2;
  text-transform: uppercase;
  background: rgba(255, 219, 207, .8);
  backdrop-filter: blur(2px);
  white-space: nowrap;
  color: #5B1B00;
  font-weight: 600;
  transform: translate(-50%, -50%) rotate(-22.75deg);
  padding: 0 10%;
  --mask:
    conic-gradient(from 45deg at left,#0000,#000 1deg 89deg,#0000 90deg) left/51% 10.00px repeat-y,
    conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) right/51% 10.00px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.ui5con-sponsors-sold-badge:before,
.ui5con-sponsors-sold-badge:after {
  top: 0;
  left: -10px;
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 219, 207, .7);
}

.ui5con-sponsors-sold-badge:after {
  left: auto;
  right: -10px;
  top: 0;
  transform: scaleX(-1);
}

.ui5con-sponsors-table th:first-child {
  text-align: left;
  padding-inline-start: 0;
}

.ui5con-sponsors-table tbody th {
  text-align: left;
}

.ui5con-sponsors-table th, .ui5con-sponsors-table td {
  line-height: 1.5;
}

.ui5con-sponsors-table td {
  text-align: center;

}

@media only screen and (min-width: 600px) {

  .ui5con-sponsors-table th, .ui5con-sponsors-table td {
    padding-block: .2rem;
    padding-inline: .5rem;
  }

  .ui5con-sponsors-table td {
    white-space: nowrap;
  }
}

@media only screen and (min-width: 800px) {

  .ui5con-sponsors-table th, .ui5con-sponsors-table td {
    padding-block: .5rem;
    padding-inline: 1rem;
  }
}