.Navigation {
    font-family: "72-Light", Arial;
    font-size: 18px;
    line-height: 38px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    @media (max-width: env(--screen-breakpoint-767)) {
      margin: 0;
      flex-direction: column;
      font-size: 16px;
    }
  }

  .NavigationItem {
    display: inline-block;
    padding: 10px 25px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child,
    &:nth-last-child(2) {
      padding-right: 0;
    }

    @media (max-width: env(--screen-breakpoint-1200)) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (max-width: env(--screen-breakpoint-1100)) {
      padding-left: 10px;
      padding-right: 10px;
    }

    @media (max-width: env(--screen-breakpoint-980)) {
      padding: 7px 5px 5px;
    }

    @media (max-width: env(--screen-breakpoint-767)) {
      border-bottom: 1px solid #ffffff30;
      padding: 4px 0;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .NavigationLink {
    color: #fff;
    opacity: 0.64;
    text-decoration: none;
    padding: 5px;

    @media (max-width: env(--screen-breakpoint-767)) {
      padding: 0;
    }

    &:hover {
      opacity: 1;
    }

    &.state_active {
      opacity: 1;
    }
  }

  .Line {
    border-bottom: 4px solid #fff;
    position: absolute;
    bottom: 2px;
    transition: all .25s ease-in-out;
    transform: translateZ(0);
    z-index: -1;

    @media (max-width: env(--screen-breakpoint-767)) {
      display: none;
    }
  }
