.Hamburger {
    display: inline-block;
    width: 34px;
    height: 34px;
    position: relative;
    cursor: pointer;
    outline: none;

    & .HamburgerItem {
        width: 18px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 8px;
        transition: .125s ease-in-out;
        &:nth-child(1) {
            top: 10px;
        }
        &:nth-child(2),
        &:nth-child(3) {
            top: 16px;
        }
        &:nth-child(4) {
            bottom: 10px;
        }
    }

    &.view_open {
        & .HamburgerItem:nth-child(1) {
            top: 16px;
            width: 0;
            left: 50%;
            }
        & .HamburgerItem:nth-child(2) {
            transform: rotate(45deg);
        }
        & .HamburgerItem:nth-child(3) {
            transform: rotate(-45deg);
        }
        & .HamburgerItem:nth-child(4) {
            top: 16px;
            width: 0;
            left: 50%;
        }
    }
}
