.Button {
  font-size: 16px;
  color: #1366a2;
  line-height: 40px;
  display: inline-block;
  border-radius: 8px;
  padding: 0 12px;
  cursor: pointer;
  user-select: none;
  position: relative;

  &:hover {
    background-color: #e7f2fb;
  }
}

.Icon {
  display: inline-block;
  --sapContent_NonInteractiveIconColor: #1366a2;
  margin-right: 5px;
  top: 2px;
  position: relative;
}