.Table {
    display: table;
}

.Row {
    display: table-row;

    &.type_header {
        font-size: 16px;
        color: rgba(29, 29, 29, 0.8);
    }

    &:last-child .Cell {
        border-bottom: none;
    }
}

.Cell {
    display: table-cell;
    padding: 5px;
    border-bottom: 1px solid #f4f9fb;

    &:last-child {
        @media (max-width: 767px) {
            display: none;
        }
    }
}

