.CalendarButton {
  color: #fff;
  text-decoration: none;
  opacity: 0;

  &.animate {
      opacity: 0;

      &.icon_1 {
          animation: iconUp 0.3s ease-out 0s 1 normal forwards;
      }
      &.icon_2 {
          animation: iconUp 0.3s ease-out 0.1s 1 normal forwards;
      }
      &.icon_3 {
          animation: iconUp 0.3s ease-out 0.2s 1 normal forwards;
      }
      &.icon_4 {
          animation: iconUp 0.3s ease-out 0.3s 1 normal forwards;
      }
  }
}