/* HEADER */
.ui5con-header {
  height: auto;
  display: flex;
  min-width: 100vw;
  height: auto;
  position: relative;
  flex-direction: column;
  padding: 2rem 1.625rem 0 1.625rem;
  background: var(--ui5ButtonBackgroundGradient3), var(--ui5ButtonBackgroundGradient4);
}

.ui5con-header .ui5con-header-section {
  padding: 0;
}

.ui5con-header-nav {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.ui5con-header-nav nav {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.ui5con-header-nav a {
  padding: 0.3rem 0;
  position: relative;
  text-decoration: none;
  color: var(--ui5LinksColor);
  transition: all 0.2s ease-in-out;
  font-size: var(--ui5LinksFontSize);
  line-height: var(--ui5LinksLineHeight);
}

.ui5con-header-nav a::after {
  left: 0;
  bottom: 0;
  opacity: 1;
  content: "";
  width: 100%;
  height: 0.1em;
  position: absolute;
  transform: scale(0);
  transform-origin: center;
  background-color: var(--ui5LinksColorHover);
  transition: opacity 300ms, transform 300ms;
}

.ui5con-header-nav a:hover {
  color: var(--ui5LinksColorHover);
}

.ui5con-header-nav a:focus {
  outline: none;
  color: var(--ui5LinksColorHover);
}

.ui5con-header-nav a:focus::after {
  transform: scale(1);
}

.ui5con-header-section {
  padding: 1rem 1.625rem;
}

.ui5con-header-link {
  margin: 0 !important;
}

.ui5con-header-link:focus::after {
  transform: scale(0) !important;
}


a.sponsoring {
  border: 1px solid #fff;
  border-radius: 1.75rem;
  padding: .5rem .7rem;
  margin-left: auto;
  white-space: nowrap;
  -webkit-text-stroke: 0;
  background: linear-gradient(
    130deg,
    var(--ui5BrandAltColor),
    var(--ui5BrandColor),
    var(--ui5BrandAltColor)
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite alternate;
}

a.sponsoring:after,
a.sponsoring:hover:after,
a.sponsoring:focus:after {
  display: none;
}

a.sponsoring:hover,
a.sponsoring:focus {
  border-color: var(--ui5LinksColorHover);
  color: var(--ui5LinksColorHover);
}

.ui5con-header__logo {
  width: 6rem;
  display: inline-block;
}

.ui5con-header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ANNONCE */
.ui5con-annonce-container {
  text-align: center;
  margin-top: 5rem;
}

.ui5con-annonce-container p {
  font-weight: bold;
  margin: 1.5rem 0 6.5rem 0;
  color: var(--ui5TextAccentTextColor);
  font-size: var(--ui5AnnonceTextFontSize);
  line-height: var(--ui5AnnonceTextLineHeight);
}

.ui5con-annonce-container .ui5con-primary-button {
  margin-bottom: 6.5rem;
}

.ui5con-annonce {
  font-weight: 900;
  font-size: var(--ui5AnnonceFontSize);
  line-height: var(--ui5AnnonceLineHeight);
}

.ui5con-annonce span {
  display: block;
  -webkit-text-stroke: 0;
  background: linear-gradient(
    130deg,
    var(--ui5BrandAltColor),
    var(--ui5BrandColor),
    var(--ui5TextColor),
    var(--ui5BrandColor),
    var(--ui5BrandAltColor)
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite alternate;
}

@keyframes textclip {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}


@media only screen and (min-width: 768px) {
  .ui5con-header {
    padding: 3.5rem 4rem 0 4rem;
  }

  .ui5con-annonce {
    font-size: var(--ui5AnnonceFontSizeL);
    line-height: var(--ui5AnnonceLineHeightL);
  }

  .ui5con-header-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .ui5con-header-nav nav {
    flex-direction: row;
  }

  .ui5con-header-nav a {
    font-size: 1rem;
    line-height: var(--ui5LinksLineHeightL);
  }

  .ui5con-annonce-container {
    margin-top: 8rem;
  }

  .ui5con-annonce-container p {
    font-size: var(--ui5AnnonceTextFontSizeL);
    line-height: var(--ui5AnnonceTextLineHeightL);
  }

  .ui5con-header__logo {
    width: 12rem;
  }

  .ui5con-header-section {
    padding: 2rem 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .ui5con-header {
    height: 100vh;
    min-height: 50rem;
    flex-direction: column;
    padding: 2rem 6rem 0 6rem;
  }

  .ui5con-header-container {
    flex-direction: row;
  }

  .ui5con-annonce-container {
    text-align: left;
  }

  .ui5con-header-section {
    padding: 2rem 6rem;
  }
}

/* ONLY WORKS IN CHROME AND EDGE */

@supports (background: paint(something)) {

  @property --pos1x {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 70%;
  }

  @property --pos1y {
    syntax: '<percentage>';
    inherits: false;
    initial-value: -50%;
  }

  @property --pos2x {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
  }

  @property --pos2y {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%;
  }

  .ui5con-header {
    background: radial-gradient(circle at var(--pos1x) var(--pos1y), rgba(168, 57, 0, .6) 0%, rgba(0,0,0,0) 50% ),
                radial-gradient(circle at var(--pos2x) var(--pos2y), rgba(168, 57, 0, .3) 0%, rgba(0,0,0,0) 23% );
                animation: bubbleblur 20s infinite alternate;
                animation-timing-function: ease-in-out;
  }

  @keyframes bubbleblur {

    0% {
      --pos1x: 70%;
      --pos1y: -50%;
      --pos2x: 10%;
      --pos2y: 40%;
    }

    50% {
      --pos1x: 100%;
      --pos1y: -10%;
      --pos2x: 25%;
      --pos2y: 70%;
    }

    100% {
      --pos1x: 70%;
      --pos1y: 20%;
      --pos2x: 10%;
      --pos2y: 60%;
    }
  }
}

.ui5con-content-header-container {
  margin-bottom: 6rem;
}

.ui5con-content-header-container h1 {
  text-align: center;
  font-weight: 900;
  font-size: var(--ui5AnnonceFontSize);
  line-height: var(--ui5AnnonceLineHeight);
  -webkit-text-stroke: 0;
  background: linear-gradient(
    130deg,
    var(--ui5BrandAltColor),
    var(--ui5BrandColor),
    var(--ui5TextColor),
    var(--ui5BrandAltColor)
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite alternate;
}

@media only screen and (min-width: 1024px) {

  .ui5con-content-header-container h1 {
    text-align: left;
    font-size: var(--ui5AnnonceFontSizeL);
    line-height: var(--ui5AnnonceLineHeightL);
  }
}
