.ui5con-people-section {
  padding: 1rem 1.625rem;
}

.ui5con-people-list {
  gap: 2rem;
  padding: 0;
  display: flex;
  margin: 3rem auto;
  flex-wrap: wrap;
  list-style: none;
  max-width: 100vw;
  justify-content: center;
}

.ui5con-people-list--team {

}

.ui5con-people-list-item {
  position: relative;
}

.ui5con-people-list-item:hover .ui5con-people-member img,
.ui5con-people-list-item:focus-within .ui5con-people-member img  {
  mix-blend-mode: normal;
}

.ui5con-people-list-item:hover:after {
  border-color: var(--ui5BrandColor);
}

.ui5con-people-list-item:hover .ui5con-people-name {
  color: var(--ui5BrandColor);
}

.ui5con-people-list-item:after {
  content: "";
  position: absolute;
  top: .7rem;
  bottom: .7rem;
  left: .7rem;
  right: .7rem;
  border: 1px solid var(--ui5LinksColor);
  border-radius: .3rem;
  z-index: 0;
}

.ui5con-people-member {
  margin: 0;
}

.ui5con-people-member figcaption {
  position: relative;
  z-index: 1;
  padding: 1rem 1.7rem 2.7rem;
}

.ui5con-people-member .frame {
  background: rgba(255, 140, 95, .5);
  border-radius: .5rem;
  width: 14.125rem;
  height: 14.125rem;
  overflow: hidden;
}

.ui5con-people-member img {
  width: 100%;
  height: 14.125rem;
  mix-blend-mode: overlay;
  display: block;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .ui5con-people-section {
    padding: 4rem;
  }

  .ui5con-people-member .frame {
    width: 18.125rem;
    height: 18.125rem;
  }

  .ui5con-people-member img {
    height: 18.125rem;
  }
}

.ui5con-people-name {
  color: var(--ui5TextColor);
  line-height: 1.5;
}

.ui5con-people-country {
  color: var(--ui5BrandColor);
}

.ui5con-people-socials {
  padding-top: 1.25rem;
}

.ui5con-people-socials li {
  display: inline-block;
}

.ui5con-people-socials-item {
  color: var(--ui5TextAccentTextColor);
  display: block;
  margin-right: .5rem;
}

.ui5con-people-socials-item:focus {
  outline: none;
}

.ui5con-people-socials-item svg {
  max-width: 25px;
  max-height: 25px;
  min-height: 25px;
  transition: transform .3s ease-in-out;
}

.ui5con-people-socials-item:hover svg,
.ui5con-people-socials-item:focus svg {
  transform: scale(1.3);
  color: var(--ui5SocialLinksColorHover);
}

@media only screen and (min-width: 1200px) {
  .ui5con-people-section {
    padding: 6rem;
  }
}
