.ui5con-recap-section {
  
  text-align: center;
  
  padding: 5rem 1.25rem 3.75rem 1.25rem;
}

.ui5con-recap-section p {
  width: 80%;
  margin: auto;
  font-weight: 400;
  font-size: var(--ui5TextFontSize);
  line-height: var(--ui5TextLineHeightL);
}

.ui5con-recap-section p span {
  font-weight: 600;
  color: var(--ui5BrandColor);
}

.ui5con-recap-section p a {
  font-weight: 600;
  position: relative;
  text-decoration: none;
  color: var(--ui5BrandAltColor);
  transition: all 0.5s ease-in-out;
}

.ui5con-recap-section p a::after {
  left: 0;
  bottom: 0;
  opacity: 1;
  content: "";
  width: 100%;
  height: 0.1em;
  position: absolute;
  transform: scale(0);
  transform-origin: center;
  transition: opacity 300ms, transform 300ms;
  background-color: var(--ui5LinksColorHover);
}

.ui5con-recap-section p a:hover::after {
  transform: scale(1);
  color: var(--ui5LinksColorHover);
}

.ui5con-recap-section p a:focus {
  outline: none;
  color: var(--ui5LinksColorHover);
}

.ui5con-recap-section p a:focus::after {
  transform: scale(1);
}

@media only screen and (min-width: 768px) {
  .ui5con-recap-section p {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1200px) {
  .ui5con-recap-section p {
    width: 60%;
  }
}