@import url("./header.css");
@import url("./calendars.css");
@import url("./gallery.css");
@import url("./details-section.css");
@import url("./save-date-section.css");
@import url("./subscription-section.css");
@import url("./sponsors-section.css");
@import url("./share-links.css");
@import url("./social-links-section.css");
@import url("./recap-section.css");
@import url("./footer.css");

:root {

  --ui5BrandColor: #FF961E;
  --ui5BrandAltColor:#FF5D17;

  --ui5LogoColor:#008fd3;

  --ui5TextColor: #FFFBFF;
  --ui5TextAccentTextColor: #FFDBCF;
  --ui5TextColorSupplementary: #FFEDE8;

  --ui5SocialLinksColor: #F5DED8;
  --ui5SocialLinksColorHover: #F95D11;

  --ui5LinksColor: #FFDBCF;
  --ui5LinksColorHover: #F95D11;

  --ui5BackgroundColor: #180E0A;
  --ui5HeaderBackground: linear-gradient(180deg, #251915 0%, #180E0A 100%);

  --ui5ButtonBackground: linear-gradient(79.63deg, #FF5116 30.93%, #FFA42C 83.92%);
  --ui5ButtonBackgroundHover: linear-gradient(263.1deg, #FF9216 -22.57%, #FFB778 100%);
  --ui5ButtonBackgroundGradient1: radial-gradient(circle at 100% 150%, rgba(168, 57, 0, .6) 0%, rgba(0,0,0,0) 60% );
  --ui5ButtonBackgroundGradient2: radial-gradient(circle at 70% 120%, rgba(168, 57, 0, .6) 0%, rgba(0,0,0,0) 60% );
  --ui5ButtonBackgroundGradient3: radial-gradient(circle at 70% -50%, rgba(168, 57, 0, .7) 0%, rgba(0,0,0,0) 60% );
  --ui5ButtonBackgroundGradient4: radial-gradient(circle at 10% 60%, rgba(168, 57, 0, .3) 0%, rgba(0,0,0,0) 20% );

  --reCapBackgroundGradient: linear-gradient(88.51deg, #0090DA 25%, #00C8E8 100%);

  --ui5TextFontSize: 0.875rem;
  --ui5TextLineHeight: 1.5rem;
  --ui5TextFontSizeL: 1.125rem;
  --ui5TextLineHeightL: 1.75rem;

  --ui5HeadingFontSize: 1.5rem;
  --ui5HeadingLineHeight: 1.75rem;
  --ui5HeadingFontSizeL: 2rem;
  --ui5HeadingLineHeightL: 2.25rem;

  --ui5SubHeadingFontSize: 1rem;
  --ui5SubHeadingLineHeight: 1.125rem;
  --ui5SubHeadingFontSizeL: 1.5rem;
  --ui5SubHeadingLineHeightL: 1.75rem;


  --ui5LinksFontSize: 0.875rem;
  --ui5LinksLineHeight: 1rem;
  --ui5LinksFontSizeL: 1.3125rem;
  --ui5LinksLineHeightL: 1.5rem;

  --ui5AnnonceTextFontSize: 1rem;
  --ui5AnnonceTextLineHeight: 1.125rem;
  --ui5AnnonceTextFontSizeL: 1.5rem;
  --ui5AnnonceTextLineHeightL: 1.75rem;

  --ui5AnnonceFontSize: 3.5rem;
  --ui5AnnonceLineHeight: 4rem;
  --ui5AnnonceFontSizeL: 7rem;
  --ui5AnnonceLineHeightL: 7.9rem;

  --ui5ButtonFontSize: 1rem;
  --ui5ButtonLineHeight: 1.125rem;
  --ui5ButtonFontSizeL: 1.5rem;
  --ui5ButtonLineHeightL: 1.75rem;

  --ui5ElementBorderRadius: 2rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--ui5TextColor);
  font-family: "72", Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  background: var(--ui5ButtonBackgroundGradient4);
  font-family: "72", Arial, Helvetica, sans-serif;
  position: relative;
}

.ui5con-main {
  margin-top: 4rem;
}

.ui5con-subpage {
  background-color: var(--ui5BackgroundColor);
  background-image: var(--ui5ButtonBackgroundGradient3);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.ui5con-shape-button {
  text-decoration: none;
  display: inline-block;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  font-weight: 700;
  position: relative;
  transition: all 0.3s;
  background: transparent;
  padding: 1.125rem 3.125rem;
  font-size: var(--ui5ButtonFontSize);
  color: var(--ui5TextAccentTextColor);
  line-height: var(--ui5ButtonLineHeight);
  border-radius: var(--ui5ElementBorderRadius);
  border: 0.125rem solid var(--ui5TextAccentTextColor);
}

.ui5con-shape-button:before {
  top: 0;
  content: "";
  left: -100%;
  height: 100%;
  display: block;
  position: absolute;
  background: var(--reCapBackgroundGradient);
  transform: skew(20deg) translateX(-25%);
  transition: transform 0.5s ease;
  width: 120%;
  z-index: -1;
}

.ui5con-shape-button:hover:before {
  transform: skew(-45deg) translateX(75%);
}

.ui5con-shape-button:focus {
  outline: none;
}

.ui5con-shape-button:focus:before {
  transform: skew(-45deg) translateX(75%);
}

.ui5con-button {
  text-decoration: none;
  display: inline-block;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  font-weight: 700;
  position: relative;
  transition: all 0.3s;
  background: transparent;
  padding: 1.125rem 3.125rem;
  font-size: var(--ui5ButtonFontSize);
  color: var(--ui5TextAccentTextColor);
  line-height: var(--ui5ButtonLineHeight);
  border-radius: var(--ui5ElementBorderRadius);
  border: 0.125rem solid var(--ui5TextAccentTextColor);
}

.ui5con-button:before {
  top: 0;
  content: "";
  left: -100%;
  height: 100%;
  display: block;
  position: absolute;
  background: var(--ui5ButtonBackground);
  transform: skew(20deg) translateX(-25%);
  transition: transform 0.5s ease;
  width: 120%;
  z-index: -1;
}

.ui5con-button:hover:before {
  transform: skew(-45deg) translateX(75%);
}

.ui5con-button:focus {
  outline: none;
}

.ui5con-button:focus:before {
  transform: skew(-45deg) translateX(75%);
}

.ui5con-primary-button {
  display: inline-block;
  z-index: 1;
  border: none;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  text-decoration: none;
  /* margin-bottom: 6.25rem; */
  padding: 1.125rem 3.125rem;
  color: var(--ui5TextColor);
  font-size: var(--ui5ButtonFontSize);
  background: var(--ui5ButtonBackground);
  line-height: var(--ui5ButtonLineHeight);
  border-radius: var(--ui5ElementBorderRadius);
}

.ui5con-primary-button:after {
  left: 0;
  bottom: 0;
  content: "";
  z-index: -2;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10rem;
  background: var(--ui5ButtonBackground);
}

.ui5con-primary-button:hover:before {
  width: 100%;
}

.ui5con-primary-button:before {
  left: 0;
  bottom: 0;
  width: 0%;
  z-index: -1;
  content: "";
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  border-radius: 10rem;
  background: var(--ui5ButtonBackgroundHover);
}

.ui5con-primary-button:focus {
  transition: all 0.3s;
  color: var(--ui5TextColor);
}

@media only screen and (min-width: 768px) {
  .ui5con-button {
    font-size: var(--ui5ButtonFontSizeL);
    line-height: var(--ui5ButtonLineHeightL);
  }

  .ui5con-shape-button {
    font-size: var(--ui5ButtonFontSizeL);
    line-height: var(--ui5ButtonLineHeightL);
  }

  .ui5con-primary-button {
    /* margin-bottom: 10rem; */
    font-size: var(--ui5ButtonFontSizeL);
    line-height: var(--ui5ButtonLineHeightL);
  }
}
