.pageHeader {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 812px) {
    display: block;
  }
}

.toggle {
  @media only screen and (max-width: 812px) {
    margin-bottom: 20px;
  }
}