@import "./fonts/index.css";

html {
    font: 16px/24px "72", Arial;
 }

*, *:before, *:after {
    box-sizing: border-box;
}

.noScroll {
    overflow: hidden;
}

:root {
    --brand-color: #1366a2;
    --default-margin: 80px;
    --default-margin-half: calc(var(--default-margin) / 2);

    @media (max-width: env(--screen-breakpoint-767)) {
        --default-margin: 40px;
    }
}


.anniversary {

}

.introtext {

}

.milestones,
.milestones ol {
    list-style: none;
    margin: 3rem 0;
    padding: 0;
    line-height: 1.4;
}

.milestone-item-year {

}

@media only screen and (min-width: 768px) {

    .milestone-item-year {
        display: grid;
        grid-template-columns: 12rem 1fr;
    }
}

.milestone-item-year ol {
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {

    .milestone-item-year ol {
        margin-top: 5rem;
        margin-bottom: 0;
    }
}

.milestone-item {
    margin-left: 1rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    border-left: 1px solid #eee;
    position: relative;
}

.milestone-item:before {
    content: "";
    position: absolute;
    top: 4px;
    left: -13px;
    width: 26px;
    height: 26px;
    padding: 4px;
    border-radius: 50%;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath d='M23.65-.12a15.42 15.42 0 0 0 3.75 2.05q2.36 1 5.1 2.25a62 62 0 0 1 5.56 3 21.56 21.56 0 0 1 5 4.3 22.05 22.05 0 0 1 3.71 6.2 23.14 23.14 0 0 1 1.44 8.6 23 23 0 0 1-1.9 9.35 24.17 24.17 0 0 1-22.3 14.55 23.3 23.3 0 0 1-7.8-1.3 23.88 23.88 0 0 1-15.1-15.8 15.25 15.25 0 0 1-.6-2.45 16.7 16.7 0 0 1-.2-3.7 26.4 26.4 0 0 1 .6-4.3 12.07 12.07 0 0 1 1.9-4.25 19.3 19.3 0 0 1 3.49-3.85 40.09 40.09 0 0 1 4-2.95q2-1.29 3.9-2.4a17.76 17.76 0 0 0 3.3-2.4 6.47 6.47 0 0 1-1 2.2 10.69 10.69 0 0 1-1.7 1.9q-1 .9-2.1 1.8a16 16 0 0 0-2.1 2.1 12.69 12.69 0 0 0-3.2 5.35 19.49 19.49 0 0 0-.55 3.95 10.74 10.74 0 0 0 .65 3.55A12.07 12.07 0 0 0 9.35 31a10 10 0 0 0 2.9 2.55 7.16 7.16 0 0 0 3.7 1 5.39 5.39 0 0 0 3.4-1 4.89 4.89 0 0 0 1.75-2.3 3.91 3.91 0 0 0 0-2.55 2.69 2.69 0 0 0-1.65-1.7 4.05 4.05 0 0 0-3-.2 6.86 6.86 0 0 0-1.1.7 2.59 2.59 0 0 1-.2-2.2 6.07 6.07 0 0 1 1.5-2.3 15 15 0 0 1 4.1-2.65A18 18 0 0 0 25 17.83a12.39 12.39 0 0 0 2.15-2.25 3.55 3.55 0 0 0 .8-2.1 5.49 5.49 0 0 1 .55 2 5.27 5.27 0 0 1-.15 1.7 12.05 12.05 0 0 1-.5 1.7 7.73 7.73 0 0 0 2-1.15 13.89 13.89 0 0 0 1.3-1.15 13.56 13.56 0 0 0 .91-1.2A14.9 14.9 0 0 1 32.2 18a9.19 9.19 0 0 1-.2 2 6.41 6.41 0 0 1-.5 1.5 3.93 3.93 0 0 0 .75-.35c.3-.16.62-.31.95-.45s.7-.4 1.1-.6a4.44 4.44 0 0 1-.4 2 6.18 6.18 0 0 1-.9 1.45 7 7 0 0 1-1.2 1.3 2.57 2.57 0 0 0 2.31 1 5 5 0 0 0 2.64-1 7.6 7.6 0 0 0 2.15-2.45 6.91 6.91 0 0 0 .9-3.55c0-.26 0-.83-.15-1.7A9.19 9.19 0 0 0 38.5 14a19.77 19.77 0 0 0-3.14-4.1 29.85 29.85 0 0 0-6.16-4.65A18.63 18.63 0 0 1 26 3a11.64 11.64 0 0 1-1.6-1.7 3.44 3.44 0 0 1-.75-1.42zm-3.1 24.4c.54-.13.7-.4.5-.8s-.8-.63-1.6-.3a.77.77 0 0 1-.4.25 1 1 0 0 0-.4.25 1.2 1.2 0 0 1-.4.3h.9a4.18 4.18 0 0 0 .7.3 1.19 1.19 0 0 0 .7 0z' fill='%231873b4'/%3E%3C/svg%3E") no-repeat;
    background-size: 90%;
    background-position: 50% 50%;
    border: 4px solid #fff;
    box-shadow:  0 0 1px #000;
}

.milestone-item--old:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 744.094 1052.362'%3E%3Cdefs%3E%3CclipPath id='a' clipPathUnits='userSpaceOnUse'%3E%3Cpath d='M423.789 191.934H127.711s-22.063 44.308-28.371 114.714C84.44 472.891 210.922 604.926 377.82 604.926c74.403 0 131.035-33.348 188.25-98.801L423.789 191.934'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath d='M466.149 116.589c89.736 0 158.039 40.21 227.045 119.172C640.358 98.366 499.207 21.742 386.538 21.742c-201.304 0-371.743 163.326-364.502 364.497 5.583 154.733 75.668 222.254 75.668 222.254l66.792 2.186s-26.61-49.426-34.219-134.341C112.31 275.83 264.855 116.588 466.15 116.588' fill='%23009de0'/%3E%3Cpath d='M359.91 348.94c14.467-6.69 25.747 21.86 25.747 21.86s-32.597-11.128-25.748-21.86zm266.05 175.452c6.223-8.693 6.831-8.391 29.536-13.983 26.363-6.497 69.943-9.635 69.943-184.96-9.955 31.09-23.311 83.314-70.877 113.151 27.038-39.16 110.97-151.067-23.608-298.182-1.564 124.727-11.82 125.349-26.75 160.165-14.921 34.82-71.428 49.741-71.499 196.465-6.84 18.94-49.044 35.311-71.922 3.693-19.368-35.683-30.034-79.545-30.034-79.545s43.527 0 51.597-23.627c-79.186 15.237-81.986-58.433-112.769-62.165-15.514-1.88-32.357-4.372-32.357-4.372s-52.489-54.057-73.005-6.196c19.268-14.915 62.16 40.409 59.296 44.296-2.865 3.878-46.34.862-52.762.472-6.427-.387-10.266 9.935-10.266 9.935s23.618.933 34.967 4.358c11.68 3.52 43.909 34.657 46.825 69.1 4.406 68.177-84.595 99.69-94.154 44.051-11.943-49.332 11.735-96.99-71.503-196.465-24.315-29.045-25.177-35.438-26.746-160.165C15.289 287.533 99.22 399.44 126.263 438.6c-47.565-29.837-60.935-82.06-70.876-113.151 0 175.325 43.57 178.463 69.944 184.96 22.685 5.592 33.19 7.774 29.52 13.983-17.398 4.975-59.06-1.545-75.22-25.173C98.213 669.76 236.23 564.81 236.23 564.81s-1.866 27.98-66.594 47.876h447.006s-50.906-6.845-59.061-43.527c34.185 27.975 122.465 50.048 143.613-69.94-16.173 23.628-57.82 30.148-75.234 25.173' fill='%23fff'/%3E%3Cpath d='m359.91 348.94.706 1.52c1.315-.602 2.54-.856 3.732-.856 2.525-.004 5.036 1.187 7.434 3.184 3.586 2.973 6.728 7.666 8.9 11.591a71.7 71.7 0 0 1 2.535 5.008c.292.63.512 1.149.658 1.498l.222.531 1.56-.616.541-1.588s-.395-.137-1.112-.4c-2.501-.919-8.828-3.378-14.43-6.596-2.799-1.606-5.409-3.407-7.236-5.22-1.857-1.828-2.8-3.585-2.775-4.994.005-.692.183-1.371.683-2.158l-1.419-.904.707 1.52-.707-1.52-1.412-.905c-.806 1.253-1.216 2.625-1.211 3.967.037 3.24 2.101 5.922 4.734 8.277 4.01 3.54 9.734 6.507 14.502 8.655 4.768 2.148 8.56 3.444 8.593 3.453l3.439 1.17-1.338-3.374c-.024-.062-2.308-5.86-6.214-11.75-1.955-2.945-4.311-5.922-7.072-8.222-2.751-2.294-5.974-3.962-9.582-3.967-1.682 0-3.42.373-5.14 1.174l-.448.202-.263.415 1.412.905zm266.05 175.452 1.366.98c1.545-2.162 2.71-3.703 3.868-4.853 1.735-1.71 3.487-2.717 7.138-3.924 3.642-1.188 9.045-2.459 17.564-4.561 6.52-1.606 14.36-3.043 22.412-7.113 12.103-6.107 24.423-18.228 33.543-45.073 9.14-26.864 15.26-68.544 15.264-134.4v-10.74l-3.274 10.232c-9.968 31.184-23.264 82.834-70.169 112.237l.89 1.423 1.381.957c15.707-22.77 51.027-70.548 51.032-135.818.01-46.904-18.294-102.724-74.777-164.45l-2.865-3.134-.056 4.24c-.777 62.32-3.75 93.576-8.325 113.447-4.565 19.849-10.746 28.499-18.294 46.086-7.105 16.777-25.007 29.37-41.21 56.055-16.178 26.713-30.392 67.503-30.42 141.065h1.677l-1.579-.575c-1.814 5.079-6.651 10.261-13.205 14.087-6.549 3.834-14.76 6.327-23.17 6.323-11.618-.025-23.561-4.656-32.611-17.126l-1.357.984 1.475-.8c-9.612-17.706-17.093-37.516-22.162-52.875a428.814 428.814 0 0 1-5.763-18.907c-1.295-4.65-1.95-7.348-1.955-7.358l-1.63.395v1.682c.08 0 11.058.005 23.18-3.001 6.059-1.512 12.414-3.769 17.855-7.232 5.428-3.453 9.98-8.178 12.15-14.534l.934-2.737-2.837.547c-7.311 1.408-13.944 2.039-19.98 2.039-14.628-.005-25.765-3.708-34.811-9.305-13.555-8.4-22.403-21.2-30.51-32.422-4.061-5.612-7.934-10.817-12.217-14.869-4.268-4.033-9.036-6.94-14.732-7.628-7.74-.932-15.82-2.03-21.964-2.883-6.144-.862-10.336-1.48-10.35-1.484l-.246 1.663 1.206-1.169c-.047-.047-6.407-6.595-15.627-13.181-9.234-6.568-21.294-13.267-33.106-13.3-5.22-.01-10.407 1.366-15.058 4.697-4.654 3.326-8.73 8.546-11.962 16.099l-2.553 5.954 5.126-3.967c1.98-1.527 4.165-2.186 6.685-2.195 4.513-.02 10.064 2.322 15.712 6.11 8.486 5.663 17.187 14.431 23.698 22.298 3.26 3.94 5.979 7.657 7.854 10.62.938 1.48 1.667 2.775 2.139 3.788.48.984.66 1.77.635 1.814h.82l-.63-.467-.19.467h.82l-.63-.467v-.004l.296.222-.221-.302-.075.08.296.222-.221-.302c-.043.056-.636.33-1.513.508-2.685.603-7.948.857-13.945.853-13.856 0-31.948-1.24-35.923-1.484l-.283-.02.278.02-.447-.02c-2.017 0-3.774.816-5.192 1.904-4.207 3.284-6.219 9.028-6.3 9.145l-.81 2.172 2.318.089c.005 0 1.456.057 3.835.199 7.109.409 22.548 1.606 30.713 4.089 2.502.739 6.647 3.246 11.236 7.12 13.884 11.608 32.324 35.404 34.402 60.514l1.672-.14-1.672.113c.104 1.606.151 3.189.151 4.753 0 20.098-8.358 36.588-20.075 48.107-11.708 11.52-26.793 17.973-39.957 17.96-7.56 0-14.458-2.098-19.871-6.483-5.41-4.386-9.423-11.104-11.077-20.688l-.01-.057-.014-.055c-5.902-24.264-2.981-48.55-8.997-79.348-6.027-30.803-21.093-67.908-62.85-117.792-12.13-14.547-18.081-22.84-21.534-43.4-3.416-20.578-4.038-53.36-4.82-115.713l-.051-4.24-2.865 3.133C92.14 201.015 73.841 256.835 73.851 303.74c.004 65.27 35.32 113.048 51.032 135.818l1.38-.957.896-1.423c-46.91-29.403-60.22-81.053-70.17-112.237l-3.28-10.252v10.76c.015 87.8 10.86 132.652 25.324 156.656 7.232 12.004 15.434 18.746 23.486 22.817 8.047 4.07 15.89 5.507 22.411 7.113 9.86 2.436 17.418 4.231 22.37 5.932 2.468.844 4.282 1.692 5.333 2.454 1.074.806 1.248 1.287 1.257 1.73 0 .301-.108.753-.484 1.389l1.446.853-.462-1.612c-3.369.966-7.85 1.5-12.938 1.5-9.817 0-21.902-1.965-33.025-6.224-11.133-4.255-21.272-10.8-27.41-19.783l-3.779-5.522.725 6.653c4.189 38.43 14.417 63.164 28.014 78.371 13.592 15.213 30.539 20.679 47.452 20.66 20.833-.015 41.723-8.114 57.459-16.16 15.73-8.056 26.302-16.089 26.354-16.131l-1.012-1.334-1.678-.113v.019c-.061.518-.867 7.246-9.394 16.315-8.532 9.06-24.857 20.47-56.013 30.044l-10.69 3.288h458.187l.215-3.34s-.739-.103-2.119-.358c-4.824-.881-17.112-3.623-28.95-10.044-11.864-6.44-23.153-16.43-26.568-31.83l-1.64.368-1.064 1.295c14.393 11.76 37.917 22.417 62.387 22.43 17.446.014 35.4-5.497 50.471-20.003 15.076-14.502 27.213-37.865 33.474-73.369l1.347-7.646-4.385 6.407c-6.144 8.984-16.283 15.528-27.416 19.783-11.122 4.259-23.207 6.223-33.026 6.223-5.087 0-9.578-.533-12.946-1.499l-.462 1.612 1.366.98-1.366-.98-.462 1.616c3.798 1.084 8.541 1.62 13.87 1.626 10.256-.005 22.666-2.022 34.223-6.446 11.548-4.424 22.284-11.245 28.989-21.022l-1.386-.947-1.653-.287c-6.182 35.038-18.082 57.675-32.493 71.532-14.413 13.846-31.383 19.053-48.145 19.061-23.476.024-46.486-10.373-60.262-21.667l-3.755-3.071 1.056 4.734c4.263 19.1 19.565 30.294 33.524 36.682 13.998 6.408 26.85 8.123 26.949 8.146l.227-1.663v-1.682H169.636v1.682l.494 1.602c32.565-10.011 49.507-22.11 58.32-31.876 8.82-9.762 9.442-17.182 9.452-17.493l.244-3.68-2.934 2.233c0 .005-.627.48-1.843 1.343-8.46 6.058-44.997 30.317-79.94 30.26-16.226-.019-32.009-5.102-44.95-19.537-12.938-14.45-23.039-38.482-27.18-76.502l-1.668.183-1.385.947c6.7 9.777 17.432 16.598 28.98 21.022 11.56 4.424 23.97 6.44 34.226 6.446 5.32-.005 10.064-.542 13.862-1.626l.64-.184.344-.575c.58-.984.947-2.016.947-3.1.01-1.85-1.13-3.383-2.643-4.446-2.304-1.645-5.771-2.884-10.577-4.27-4.796-1.37-10.902-2.83-18.29-4.654-6.67-1.634-14.161-3.035-21.7-6.854-11.273-5.734-22.896-16.853-31.88-43.157-8.957-26.293-15.09-67.677-15.086-133.32h-1.682l-1.597.515c9.927 30.985 23.363 83.79 71.583 114.06l6.907 4.334-4.636-6.708c-15.76-22.809-50.439-69.869-50.434-133.91.01-46.005 17.85-100.9 73.896-162.184l-1.234-1.137-1.683.02c.793 62.377 1.386 95.153 4.868 116.222 3.453 21.074 10.091 30.5 22.27 45.006 41.487 49.592 56.2 86.047 62.132 116.275 5.941 30.227 2.992 54.435 9.026 79.498l1.636-.39-1.654.277c1.748 10.224 6.162 17.79 12.273 22.732 6.1 4.951 13.809 7.237 21.982 7.232 14.248-.01 30.016-6.856 42.312-18.921 12.288-12.066 21.084-29.45 21.08-50.505a76.99 76.99 0 0 0-.161-4.97v-.015l-.005-.023c-1.508-17.7-10.469-34.336-20.48-47.047-5.013-6.351-10.3-11.722-15.104-15.759-4.83-4.033-9.098-6.737-12.43-7.764-5.921-1.776-14.693-2.855-22.07-3.53-7.37-.658-13.296-.899-13.315-.899l-.066 1.682 1.574.589.146-.368c.358-.875 1.4-3.151 2.912-5.097.748-.975 1.616-1.86 2.515-2.464.91-.603 1.81-.928 2.77-.933l.246.01c3.962.24 22.105 1.489 36.13 1.494 4.339-.005 8.287-.123 11.36-.434 1.54-.16 2.854-.364 3.942-.65 1.084-.33 1.984-.58 2.78-1.56h.005c.39-.542.462-1.093.462-1.526-.047-1.413-.655-2.7-1.589-4.504-3.302-6.13-11.476-16.796-21.181-26.12-4.848-4.65-10.073-8.941-15.279-12.112-5.211-3.157-10.412-5.24-15.345-5.254-3.133-.004-6.162.896-8.744 2.898l1.028 1.328 1.545.665c3.062-7.138 6.784-11.802 10.826-14.694 4.052-2.884 8.452-4.062 13.107-4.067 10.502-.032 22.204 6.252 31.156 12.674a128.35 128.35 0 0 1 10.963 8.81 116.69 116.69 0 0 1 3.114 2.897c.72.697 1.088 1.08 1.093 1.08l.396.41.56.08c.01 0 16.857 2.496 32.404 4.376 6.337.764 11.538 4.824 16.758 10.897 7.821 9.065 15.345 22.35 26.62 33.446 11.264 11.095 26.481 19.933 49.293 19.909 6.27 0 13.116-.659 20.612-2.101l-.316-1.649-1.587-.541c-1.866 5.455-5.78 9.597-10.78 12.785-7.486 4.783-17.337 7.261-25.29 8.482a112.31 112.31 0 0 1-9.973 1.073 78.199 78.199 0 0 1-2.931.133c-.683.018-1.036.018-1.036.018h-2.14l.51 2.078c.023.071 10.685 43.994 30.189 79.945l.051.1.062.084c9.639 13.352 22.822 18.54 35.33 18.51 9.074 0 17.814-2.661 24.86-6.784 7.044-4.132 12.444-9.71 14.677-15.84l.095-.277v-.287c.047-73.162 14.123-113.193 29.935-139.327 15.797-26.166 33.61-38.439 41.427-56.473 7.382-17.239 13.794-26.3 18.477-46.652 4.678-20.324 7.622-51.748 8.413-114.158l-1.68-.02-1.236 1.137c56.05 61.283 73.883 116.175 73.892 162.184.005 64.041-34.675 111.101-50.429 133.91l-4.631 6.708 6.901-4.335c48.22-30.269 61.643-83.079 71.584-114.06l-1.597-.513h-1.678c.015 87.527-10.926 131.91-24.846 154.92-6.96 11.515-14.596 17.735-22.13 21.556-7.538 3.82-15.029 5.22-21.691 6.854-11.35 2.803-17.167 4.1-21.238 5.931-2.03.92-3.618 2.017-5.032 3.426-1.418 1.413-2.662 3.094-4.23 5.281l-1.385 1.936 2.289.655.462-1.616' fill='%23505156'/%3E%3C/svg%3E");
    background-size: 100%;
    background-position: 0 0;
    background-color: #eee;
    border-color: #eee;
}

@media only screen and (min-width: 768px) {

    .milestone-item {
        margin-left: -7rem;
        padding-left: 7rem;
        padding-bottom: 3rem;
        border-left: 1px solid #eee;
        position: relative;
    }

    .milestone-item:before {
        top: 16px;
    }
}

.milestone-item--photo {

}

.milestone-item--photo img {
    max-width: 100%;
    display: block;
}

.milestone-item--photo figure {
    max-width: 80%;
    margin: 0 0 1rem 0;
    padding: 6px;
    background-color: #f4f9fb;
}

.milestone-item--photo figcaption {
    font-style: italic;
    color: #333;
}

.milestone-item-year time {
    font-weight: 900;
    font-size: 2.5rem;
    color: rgba(255,255,255,0);
    font-feature-settings: 'pnum' on, 'lnum' on;
    -webkit-text-stroke: 2px var(--brand-color);
    opacity: .7;
    line-height: 1.15;
}

.milestone-item h2 {
    color: var(--brand-color);
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0 0 1rem;
    letter-spacing: -1px;
}

.milestone-item--bc h2 {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom,#2da9b1 0,#178299 50%,#1a4c7d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.milestone-item--hrzn h2 {
    font-weight: 900;
    color: #1d2d3e;
}

.milestone-item--blz h2 {
    font-weight: 400;
    color: #333;
}

.milestone-item--qrtz h2 {
    font-weight: 400;
    color: #346187;
}

.milestone-item--bc p {
    font-family: Arial, Helvetica, sans-serif;
}



.milestone-item p {
    margin-top: 0;
}

@media only screen and (min-width: 768px) {

    .milestone-item-year time {
        font-size: 4.5rem;
    }

    .milestone-item h2 {
        font-size: 2.5rem;
        margin: 0 0 1rem;
    }
}