@import "normalize.css";
@import "./fonts/index.css";
@import "./global.css";
@import "./components/version/styles.css";
@import "./components/logo/styles.css";
@import "./components/github/styles.css";
@import "./components/hamburger/styles.css";
@import "./components/link/styles.css";
@import "./components/icon/styles.css";
@import "./components/button/styles.css";
@import "./components/table/styles.css";
@import "./components/section/styles.css";
@import "./components/documentation/styles.css";
@import "./components/tile/styles.css";
@import "./components/slider/styles.css";
@import "./components/sticker/styles.css";
@import "./components/list/styles.css";
@import "./components/header/styles.css";
@import "./components/navigation/styles.css";
@import "./components/toolbar/styles.css";
@import "./components/footer/styles.css";
@import "./components/guidelines/styles.css";
@import "./components/guidelines/colors/styles.css";



