.slider {
	width: 100%;
	max-width: 540px;
	height: 150px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	}
	.slider__item {
		display: block;
		width: 100%;
		height: 150px;
		position: absolute;
		transition: opacity 1s ease-in-out;
		}
		.slider__item.mod_ui5ers_live {
			background: url("./ui5ers_live.png") 50% 50% no-repeat;
			background-size: 615px 150px;
			}
		.slider__item.state_invisible {
			opacity: 0;
			z-index: -1;
			}

@media (max-width: 575px) {
	.slider {
		height: 120px;
		}
	.slider__item {
		height: 120px;
		}
	.slider__item.mod_ui5ers_live {
		background-size: 100%;
		}
}