.Slider {
	width: 100%;
	max-width: 540px;
	height: 150px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;

	@media (max-width: 575px) {
		height: 120px;
	}
}

.SliderItem {
	display: block;
	width: 100%;
	height: 150px;
	position: absolute;
	transition: opacity 1s ease-in-out;

	@media (max-width: 575px) {
		height: 120px;
	}

	&.state_invisible {
		opacity: 0;
		z-index: -1;
	}

	&.mod_ui5ers_live {
		background: url("./ui5ers_live05.png") 50% 50% no-repeat;
		background-size: 615px 150px;

		@media (max-width: 575px) {
			background-size: 100%;
		}
	}

	&.mod_germany2022 {
		background: url("./germany_2022.png") 50% 50% no-repeat;
		background-size: 615px 150px;

		@media (max-width: 575px) {
			background-size: 100%;
		}
	}
}
